$background-blue-color:rgb(147, 190, 222);
$white-color: rgb(255, 255, 255);
$dark-blue-color:rgb(34, 40, 68);
$light-blue-background-color: rgb(147, 190, 222);
$grey:rgb(161, 159, 159);
$off-white:rgb(244, 244, 248);
$sky-blue:rgb(22, 125, 221);
$light-grey:rgb(219, 216, 216);
$blue-grey:rgb(240, 240, 245);
$light-blue: rgb(209, 229, 245);
$white:rgb(255,255,255);
$dark-grey:rgb(102, 101, 101);

.fas {
    color: #525659;
    height: auto;
    margin-top:0.5rem;
}
.navbar {
    height: auto;
    width: 100%;
    position:relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:1rem 1rem;
}
.navbar{
    .logo {
        img {
            height:1.5rem;
            width:6rem;
            object-fit: cover;
        }
    }   
}

.top{
    width:100%;
    height:auto;
    background-color:  rgb(147, 190, 222);
    text-align:center;
    padding:2.5rem 1rem;
    h1{
        //letter-spacing: 0.1rem;
    }

}
p{
    text-align:center;
}

.topsearch {
    border-radius: 0px;
    margin-top:0.5rem;
    font-size:0.8rem;
    padding:0.5rem 3rem;
    letter-spacing: 0.1rem;
}
 .country {
    padding-left:2.3rem;
 }

.fa-map-marker-alt {
    position: absolute;
    padding-top: 0.75rem;    
    left:1.75rem;
    margin:0;
} 

.gps {
    position: absolute;
    width:1rem;
    height:auto;
    color:#525659;
    padding-top:0.75rem;
    right:1.75rem;
}

.grid{
    display:grid;
}
.howitworks{
    text-align: center;
    header{
        p{
            letter-spacing: 0.05rem;
        }
    }
}
.how_it_works_container {
    grid-template-columns: 100%;
    row-gap: 1.5rem;
    div{
        text-align:center;
        span{
            
            padding-top:0.20rem;
            font-size:1.6rem;
        }
        h3{
            text-align: left;
            margin-bottom:0;
            color:$grey;
        }
    }
}

.one {
    border:0.5px solid $grey;
    border-radius: 10px;
    padding:0.8rem 0.5rem;
    grid-template-columns: 1.25fr 8.75fr;
    h3{
        margin-bottom: 0;
        text-align: left;
        font-size:1.3rem;
        color:$grey;
    }
    span{
        font-size: 1.3rem;
        padding-top: 0.35rem;
    }
    
}
.one:hover{
    border:0.5px solid black;
    span{
        color: $light-blue-background-color;

    }
    h3{
        color:$dark-blue-color;
    }
}
.one:active{
    border:0.5px solid black;
    span{
        color: $light-blue-background-color;
    }
    h3{
        color:$dark-blue-color;
    }
}

.fbox{
    .imgcont{
        padding:1.2rem;
        width:100%;
        height:auto;        
    }
    h4{
        font-size:1.3rem;
        margin-bottom: 0.4rem;
    }
    p{
        margin-bottom:0.5rem;
        letter-spacing: 0.05rem;
    }    
}
.expertdoctors{
    background-color: $dark-blue-color;
    text-align: center;
    h2,p{
        color:$white;
    }
    p{
        letter-spacing: 0.05rem;
    }  
}
.doctorgrid {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 1.5rem;
}

.doctorcard {
    background-color: $white;
    border-bottom: 4px solid $light-blue-background-color;
    img{
        //margin-bottom:0.75rem;
        display: block;
        height: 350px;
        object-fit: cover;
    }
    .data_container{
        background-color: $white;
        position:relative;
        text-align: left;
        //padding-bottom: 1.2rem;
        padding-top:0.75rem;
        
        
        h5{
            color:$sky-blue;
            margin-bottom:0.3rem;
            margin-left: 2.2rem;
            
        }
        h5::before{
            content:'';
            background-color: $sky-blue;
            width:2rem;
            height:0.110rem;
            position:absolute;
            top:1.4rem;
            left:0;
            
        }
        li{
            text-align: left;
            color:$dark-blue-color;
            font-size:0.9rem;
            margin-bottom:0.2rem;
            margin-left: 2.2rem;
        }
    }    
}
.medicaltreatment{
    text-align: center;
    header{
        p{
            letter-spacing: 0.05rem;
        }
    }
    .medical_container{
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        row-gap: 1.5rem;
        .photos1{
            background-image: linear-gradient(to top, $dark-blue-color 7.5%, transparent 40%), url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--009.jpg);
            background-size: cover;
            height:23rem;
            width: auto;
            position: relative;
            h5,p{
                color: white;
                position:absolute;
                text-shadow: 4px solid $dark-blue-color;
                margin-bottom:0;
            }
            h5{
                font-size:1rem;
                bottom:2.5rem;
                left:1.15rem;
            }
            p{
                bottom:1rem;
                left:1.15rem;
                letter-spacing: 0;
                font-size:0.95rem;
                font-weight: 500;
            }
        }
        .photos2{
            background-image: linear-gradient(to top, $dark-blue-color 7.5%, transparent 40%), url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--010.jpg);
            background-size: cover;
            height:23rem;
            position: relative;
            h5,p{
                color: white;
                position:absolute;
                text-shadow: 4px solid $dark-blue-color;
                margin-bottom:0;
            }
            h5{
                font-size:1rem;
                bottom:2.5rem;
                left:1.15rem;
            }
            p{
                bottom:1rem;
                left:1.15rem;
                letter-spacing: 0;
                font-size:0.95rem;
                font-weight: 500;
            }
        }
        .photos3{
            background-image: linear-gradient(to top, $dark-blue-color 7.5%, transparent 40%), url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg);
            background-size: cover;
            height:23rem;
            position: relative;
            h5,p{
                color: white;
                position:absolute;
                text-shadow: 4px solid $dark-blue-color;
                margin-bottom:0;
            }
            h5{
                font-size:1rem;
                bottom:2.5rem;
                left:1.15rem;
            }
            p{
                bottom:1rem;
                left:1.15rem;
                letter-spacing: 0;
                font-size:0.95rem;
                font-weight: 500;
            }
        }
        .photos4{
            background-image: linear-gradient(to top, $dark-blue-color 7.5%, transparent 40%), url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--006.jpg);
            background-size: cover;
            height:23rem;
            position: relative;
            h5,p{
                color: white;
                position:absolute;
                text-shadow: 4px solid $dark-blue-color;
                margin-bottom:0;
            }
            h5{
                font-size:1rem;
                bottom:2.5rem;
                left:1.15rem;
            }
            p{
                bottom:1rem;
                left:1.15rem;
                letter-spacing: 0;
                font-size:0.95rem;
                font-weight: 500;
            }
        }
        .photos5{
            background-image: linear-gradient(to top, $dark-blue-color 7.5%, transparent 40%), url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--008.jpg);
            background-size: cover;
            height:23rem;
            position: relative;
            h5,p{
                color: white;
                position:absolute;
                text-shadow: 4px solid $dark-blue-color;
                margin-bottom:0;
            }
            h5{
                font-size:1rem;
                bottom:2.5rem;
                left:1.15rem;
            }
            p{
                bottom:1rem;
                left:1.15rem;
                letter-spacing: 0;
                font-size:0.95rem;
                font-weight: 500;
            }
        }
        .photos6{
            background-image: linear-gradient(to top, $dark-blue-color 7.5%, transparent 40%), url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--007.jpg);
            background-size: cover;
            height:23rem;
            position: relative;
            h5,p{
                color: white;
                position:absolute;
                text-shadow: 4px solid $dark-blue-color;
                margin-bottom:0;
            }
            h5{
                font-size:1rem;
                bottom:2.5rem;
                left:1.15rem;
            }
            p{
                bottom:1rem;
                left:1.15rem;
                letter-spacing: 0;
                font-size:0.95rem;
                font-weight: 500;
            }
        }
    }
}

.exclusive{
    background-color: $blue-grey;
    text-align: center;
    header{
        p{
            letter-spacing: 0.05rem;
        }
    }
}

.service_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 1rem;
    column-gap: 1rem;

    .services{
        background-color: $white;
        padding:1rem 1.5rem;
        border-radius: 20px;
        height:8rem;
        img {
            
            height:3rem;
            width:5rem;
            margin-top:0.5rem;
            object-fit: cover;
        }
        h6{
            margin-top: 0.8rem;
            font-size:0.8rem;
        }           
    }
}

.help{
    text-align: center;
    background-color: $light-blue-background-color;
    h2{
        font-size:1.6rem;
        color:$white;
    }
    .sky-blue{
        font-size:1rem;
        padding:0.65rem 0.9rem;
        border-radius: 5px;
    }
}

.footer{
    background-color: $dark-blue-color;
    padding:1rem;
    text-align: center;
    .logos{
        text-align: center;
        .fab{
            margin-right:1rem;
        }
        margin-bottom:1rem;
    }
    img{
        width:11rem;
        height:3rem;
        object-fit: contain;
        margin-top:1rem;
        margin-bottom:1rem;
    }
    li,i,p{
        color:#cccccc;
    }
    li{
        font-size:16px;
        margin-bottom: 1.15rem;
    }
    .copyright{
        p{
            font-weight: 500;
            letter-spacing: 0;
            margin-bottom: 0.75rem;
        }
    }
}