.fas {
  color: #525659;
  height: auto;
  margin-top: 0.5rem;
}

.navbar {
  height: 5rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem 1.5rem;
}

.navbar .logo img {
  height: auto;
  width: 9rem;
}

.top {
  width: 100%;
  height: auto;
  background-color: #93bede;
  text-align: center;
  padding: 2.5rem 1rem;
}

.top h1 {
  letter-spacing: 0.1rem;
}

p {
  text-align: center;
}

.topsearch {
  border-radius: 0px;
  margin-top: 0.5rem;
  padding: 0.75rem 3.5rem;
}

.country {
  padding-left: 2.3rem;
}

.fa-map-marker-alt {
  position: absolute;
  padding-top: 0.85rem;
  left: 1.75rem;
  margin: 0;
}

.gps {
  position: absolute;
  width: 1.2rem;
  height: auto;
  color: #525659;
  padding-top: 0.85rem;
  right: 1.75rem;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.how_it_works_container {
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  row-gap: 1.5rem;
}

.how_it_works_container div {
  text-align: center;
}

.how_it_works_container div span {
  padding-top: 0.20rem;
  font-size: 1.6rem;
}

.how_it_works_container div h3 {
  text-align: left;
  margin-bottom: 0;
  color: #a19f9f;
}

.one {
  border: 0.5px solid #a19f9f;
  border-radius: 10px;
  padding: 1.15rem 0.5rem;
  -ms-grid-columns: 1.25fr 8.75fr;
      grid-template-columns: 1.25fr 8.75fr;
}

.one h3 {
  margin-bottom: 0;
  text-align: left;
  color: #a19f9f;
}

.one span {
  font-size: 1.6rem;
  padding-top: 0.30rem;
}

.one:hover {
  border: 0.5px solid black;
}

.one:hover span {
  color: #93bede;
}

.one:hover h3 {
  color: #222844;
}

.one:active {
  border: 0.5px solid black;
}

.one:active span {
  color: #93bede;
}

.one:active h3 {
  color: #222844;
}

.fbox .imgcont {
  padding: 1.2rem;
  width: 100%;
  height: auto;
}

.fbox h4 {
  margin-bottom: 1.25rem;
}

.fbox p {
  margin-bottom: 0.5rem;
}

.expertdoctors {
  background-color: #222844;
}

.expertdoctors h2, .expertdoctors p {
  color: white;
}

.doctorgrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  row-gap: 1.5rem;
}

.doctorcard {
  background-color: white;
  border-bottom: 4px solid #93bede;
}

.doctorcard img {
  display: block;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.doctorcard .data_container {
  background-color: white;
  position: relative;
  text-align: left;
  padding-top: 0.75rem;
}

.doctorcard .data_container h5 {
  color: #167ddd;
  margin-bottom: 0.5rem;
  margin-left: 2.65rem;
}

.doctorcard .data_container h5::before {
  content: '';
  background-color: #167ddd;
  width: 2.3rem;
  height: 0.110rem;
  position: absolute;
  top: 1.4rem;
  left: 0;
}

.doctorcard .data_container li {
  text-align: left;
  color: #222844;
  font-size: 1.1rem;
  margin-bottom: 0.2rem;
  margin-left: 2.65rem;
}

.medicaltreatment .medical_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
  row-gap: 1.5rem;
}

.medicaltreatment .medical_container .photos1 {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(7.5%, #222844), color-stop(40%, transparent)), url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--009.jpg);
  background-image: linear-gradient(to top, #222844 7.5%, transparent 40%), url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--009.jpg);
  background-size: cover;
  height: 27rem;
  position: relative;
}

.medicaltreatment .medical_container .photos1 h5, .medicaltreatment .medical_container .photos1 p {
  color: white;
  position: absolute;
  text-shadow: 4px solid #222844;
  margin-bottom: 0;
}

.medicaltreatment .medical_container .photos1 h5 {
  bottom: 2.7rem;
  left: 1.5rem;
}

.medicaltreatment .medical_container .photos1 p {
  bottom: 1.2rem;
  left: 1.5rem;
  letter-spacing: 0;
  font-size: 1.1rem;
  font-weight: 500;
}

.medicaltreatment .medical_container .photos2 {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(7.5%, #222844), color-stop(40%, transparent)), url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--010.jpg);
  background-image: linear-gradient(to top, #222844 7.5%, transparent 40%), url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--010.jpg);
  background-size: cover;
  height: 27rem;
  position: relative;
}

.medicaltreatment .medical_container .photos2 h5, .medicaltreatment .medical_container .photos2 p {
  color: white;
  position: absolute;
  text-shadow: 4px solid #222844;
  margin-bottom: 0;
}

.medicaltreatment .medical_container .photos2 h5 {
  bottom: 2.7rem;
  left: 1.5rem;
}

.medicaltreatment .medical_container .photos2 p {
  bottom: 1.2rem;
  left: 1.5rem;
  letter-spacing: 0;
  font-size: 1.1rem;
  font-weight: 500;
}

.medicaltreatment .medical_container .photos3 {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(7.5%, #222844), color-stop(40%, transparent)), url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg);
  background-image: linear-gradient(to top, #222844 7.5%, transparent 40%), url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg);
  background-size: cover;
  height: 27rem;
  position: relative;
}

.medicaltreatment .medical_container .photos3 h5, .medicaltreatment .medical_container .photos3 p {
  color: white;
  position: absolute;
  text-shadow: 4px solid #222844;
  margin-bottom: 0;
}

.medicaltreatment .medical_container .photos3 h5 {
  bottom: 2.7rem;
  left: 1.5rem;
}

.medicaltreatment .medical_container .photos3 p {
  bottom: 1.2rem;
  left: 1.5rem;
  letter-spacing: 0;
  font-size: 1.1rem;
  font-weight: 500;
}

.medicaltreatment .medical_container .photos4 {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(7.5%, #222844), color-stop(40%, transparent)), url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--006.jpg);
  background-image: linear-gradient(to top, #222844 7.5%, transparent 40%), url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--006.jpg);
  background-size: cover;
  height: 27rem;
  position: relative;
}

.medicaltreatment .medical_container .photos4 h5, .medicaltreatment .medical_container .photos4 p {
  color: white;
  position: absolute;
  text-shadow: 4px solid #222844;
  margin-bottom: 0;
}

.medicaltreatment .medical_container .photos4 h5 {
  bottom: 2.7rem;
  left: 1.5rem;
}

.medicaltreatment .medical_container .photos4 p {
  bottom: 1.2rem;
  left: 1.5rem;
  letter-spacing: 0;
  font-size: 1.1rem;
  font-weight: 500;
}

.medicaltreatment .medical_container .photos5 {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(7.5%, #222844), color-stop(40%, transparent)), url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--008.jpg);
  background-image: linear-gradient(to top, #222844 7.5%, transparent 40%), url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--008.jpg);
  background-size: cover;
  height: 27rem;
  position: relative;
}

.medicaltreatment .medical_container .photos5 h5, .medicaltreatment .medical_container .photos5 p {
  color: white;
  position: absolute;
  text-shadow: 4px solid #222844;
  margin-bottom: 0;
}

.medicaltreatment .medical_container .photos5 h5 {
  bottom: 2.7rem;
  left: 1.5rem;
}

.medicaltreatment .medical_container .photos5 p {
  bottom: 1.2rem;
  left: 1.5rem;
  letter-spacing: 0;
  font-size: 1.1rem;
  font-weight: 500;
}

.medicaltreatment .medical_container .photos6 {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(7.5%, #222844), color-stop(40%, transparent)), url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--007.jpg);
  background-image: linear-gradient(to top, #222844 7.5%, transparent 40%), url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--007.jpg);
  background-size: cover;
  height: 27rem;
  position: relative;
}

.medicaltreatment .medical_container .photos6 h5, .medicaltreatment .medical_container .photos6 p {
  color: white;
  position: absolute;
  text-shadow: 4px solid #222844;
  margin-bottom: 0;
}

.medicaltreatment .medical_container .photos6 h5 {
  bottom: 2.7rem;
  left: 1.5rem;
}

.medicaltreatment .medical_container .photos6 p {
  bottom: 1.2rem;
  left: 1.5rem;
  letter-spacing: 0;
  font-size: 1.1rem;
  font-weight: 500;
}

.exclusive {
  background-color: #f0f0f5;
}

.service_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  row-gap: 1rem;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

.service_container .services {
  background-color: white;
  padding: 1rem 1.5rem;
  border-radius: 20px;
}

.service_container .services img {
  height: 6.5rem;
  width: 6.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.service_container .services h6 {
  font-size: 0.9rem;
}

.help {
  background-color: #93bede;
}

.help h2 {
  color: white;
}

.help .sky-blue {
  font-size: 1.15rem;
  padding: 0.9rem 0.9rem;
  border-radius: 5px;
}

.footer {
  background-color: #222844;
  padding: 1rem;
  text-align: center;
}

.footer .logos {
  margin-bottom: 1.5rem;
}

.footer .logos .fab {
  margin-right: 2rem;
}

.footer img {
  width: 14rem;
  height: 3rem;
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.footer li, .footer i, .footer p {
  color: #cccccc;
}

.footer li {
  font-size: 20px;
  margin-bottom: 1.5rem;
}

.footer .copyright p {
  font-weight: 500;
  letter-spacing: 0;
  margin-bottom: 1.5rem;
}
/*# sourceMappingURL=index.css.map */