$background-blue-color:rgb(147, 190, 222);
$white-color: rgb(255, 255, 255);
$dark-blue-color:rgb(34, 40, 68);
$light-blue-background-color: rgb(147, 190, 222);
$grey:rgb(161, 159, 159);
$off-white:rgb(244, 244, 248);
$sky-blue:rgb(22, 125, 221);
$light-grey:rgb(219, 216, 216);
$blue-grey:rgb(240, 240, 245);
$light-blue: rgb(209, 229, 245);
$white:rgb(255,255,255);
$dark-grey:rgb(102, 101, 101);

*{
    box-sizing: border-box;
}

@font-face{
    font-family: Nexa-Light;
    src: url(../fonts/Nexa-Light.otf);
}
@font-face{
    font-family:Nexa-Bold;
    src: url(../fonts/Nexa-Bold.otf);
}

section{
    padding:1.5rem 1rem;
    text-align: center;
}
img{
    height:100%;
    width:100%;
    object-fit: cover;
}

h1,h2,h3,h4,h5,h6{
    font-family: Nexa-Bold;
    color: $dark-blue-color;
}

h1,h2{
    font-size:2rem;
    line-height: 2.4rem;
    font-weight: 600;
    margin-bottom:0.625rem;
}

h3{
    font-size:1.6rem;
    line-height: 2rem;
    margin-bottom:0.625rem;
}

h4{
    font-size:1.4rem;
    line-height:1.8rem;
    margin-bottom:0.625rem;
}

h5{
    font-size:1.2rem;
    line-height:1.6rem;
    margin-bottom:0.3125rem;
}

h6{
    font-size:1rem;
    line-height:1.4rem;
    margin-bottom:0.3125rem;
}

p {
    font-family: Nexa-Light;
    line-height: 1.4rem;
    font-size:4rem;
    //font-weight: 600;
    
    color: $dark-blue-color;
    margin-bottom:0.625rem;
}

input,select{
    font-family: Nexa-Light;
    line-height: 1.4rem;
    padding: 0.8rem 0.75rem;
    width:100%;
    font-size:1.1rem;
    border:none;
    outline:none;
    color:$dark-blue-color;
    //background-color: $white;
    margin-bottom:0.625rem;
}

textarea {
    font-family: Nexa-Light;
    line-height: 1.4rem;
    padding: 0.8rem 0.75rem;
    font-size:1.1rem;
    width:100%;
    color:$grey;
    outline:none;
    border:0.125rem solid $grey;
    margin-bottom:0.625rem;

}

input::placeholder{
    font-size:0.9rem;
    color:$grey;
}

input:focus, select:focus {
    outline:none;
}

textarea::placeholder {
    font-size:0.9rem;
    color:$grey;
    font-family: Nexa-Bold;
}

button {
    font-family: Nexa-Bold;
    font-size:0.85rem;
    line-height: 1.4rem;
    border:none;
    border-radius:0.5rem;
    padding:0.5rem 1.5rem;
    outline:none;
    cursor:pointer;
}

.dark-blue {
    background-color: $dark-blue-color;
    color: $white;
    border:0.125rem solid $dark-blue-color;
}

.light-blue {
    background-color: $light-blue-background-color;
    color: $white;
    border:0.125rem solid $light-blue-background-color;
}

.white {
    background-color: $white;
    color: $dark-blue-color;
    border:0.125rem solid $white;
}

.search {
    background-color: $white;
    color: $grey;
    border:0.125rem solid $light-grey;
}

span {
    font-family:Nexa-Bold;
    color: $grey;
    font-size:1.1rem;    
}

label {
    font-family: Nexa-Light;
    font-weight: 600;
    font-size:0.9rem;
}
ul {
    margin-bottom:0.625rem;
}

ul li {
    font-size:0.9rem;
    font-family:Nexa-Light;
    color:$dark-blue-color;
    font-weight: 600;
    line-height: 1.4rem;
    list-style:none;
}

a {
    text-decoration: none;
    font-size:0.9rem;
    font-family: Nexa-Light;
    font-weight: 600;
}

@media only screen and (min-width:728px){
    section {
        padding:2rem;
    }
}

@media only screen and (min-width: 1024px){
    section{
        padding:5rem 7rem;
        text-align:left;
    }

    h1,h2{
        font-size:2.2rem;
        line-height: 4rem;
        font-weight: 900;
        margin-bottom: 1.5rem;
    }

    h3{
        font-size:1.8rem;
        line-height: 4rem;
        margin-bottom:0.625rem;
    }

    h4{
        font-size:1.6rem;
        line-height:2.2rem;
        margin-bottom:0.625rem;
    }

    h5{
        font-size:1.4rem;
        line-height:1.8rem;
        margin-bottom:0.3125rem;

    }

    h6{
        font-size:1.2rem;
        line-height:1.8rem;
        margin-bottom:0.3125rem;    
    }

    p{
        font-family: Nexa-Light;
        font-size:1rem;
        line-height: 1.4rem;
        font-weight: 600;        
    }

    button {
        
        font-size:0.85rem;
        font-weight: 590;
        text-align: center;
    }

    input,select{
        padding: 0.8rem 0.75rem;
        font-size:1.1rem;
        margin-bottom:1rem;
    }
    
    a {
        font-size:1rem;
        text-decoration: none;
    }
    
    ul li {
        font-size:1rem;
    }  
    
    span{
        font-size:1.3rem;
    }

    label {
        font-size:1rem;
    }
}
.lightblue{
    width:100%;
    height:200px;
    background-color: $light-blue;
}

