<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5fdca5a363.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/theme.css">
    <link rel="stylesheet" href="../assets/css/about-us.css">
    <title>About Us</title>
</head>
<body>

    <nav class="navbar">
        <div class="logo">
            <a href="/index"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="tvastra"></a>
        </div> 
        <i class="fas fa-bars"></i>
        <ul class="menubar">
            <a href="doctor"><li>Doctors</li></a>
            <a href="hospital"><li>Hospitals</li></a>
            <a href="Dentistry"><li>Treatment</li></a>
            <a href="about-us"><li>About</li></a>
        </ul>        
        <div class="top_button">
            <a href="tvastra-plus"><button class="sky-blue">Tvastra Plus</button></a>    
            <a href="query"><button class="dark-blue">Get a Quote</button></a>
            <div class="name_container">
                <h6><%= name %></h6>
                <i class="fas fa-angle-down"></i>
            </div>
        </div>
    </nav> 
    <div class="profile_section">
        <figure>
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="tvastra">
        </figure>
        <ul class="list">
            <a href="/appointments">
                <li>My Appointments</li>
            </a>
            <a href="/records">
                <li>Medical Records</li>
            </a>
            <a href="/settings">
                <li>Settings</li>
            </a>
            <a href="/payments">
                <li>My Payments</li>
            </a>
            <a href="/logout">
                <li>Logout</li>
            </a>
        </ul>
    </div>
    <div class="profile_section_2">
        <div class="part_1">
            <img src="https://image.shutterstock.com/image-vector/user-avatar-icon-button-profile-260nw-1517550290.jpg" alt="profile image">
            <h6><%= name %></h6>
        </div>
        <ul class="list">
            <a href="/appointments">
                <li>My Appointments</li>
            </a>
            <a href="/records">
                <li>Medical Records</li>
            </a>
            <a href="/settings">
                <li>Settings</li>
            </a>
            <a href="/payments">
                <li>My Payments</li>
            </a>
            <a href="/logout">
                <li>Logout</li>
            </a>
        </ul>
    </div> 

    <section class="top">
        <h1>Living healthy matters</h1>
        <li>Our specialists aspire to bridge the gap between your benefits plan and the health needs</li>
    </section>

    <section class="intro">
        <div class="part1">
            <h2>You have the power to begin to tell the story of your life as you now want it to be and discontinue the tales</h2>
            <p>Deployment long tail monetization strategy equity basic of team of conversion. Supply chain freemium investor long tail agile workers prototype validation influencer market share.</p>
            <p>Deployment long tail monetization strategy equity basic of team of conversion. Supply chain freemium investor long tail agile workers prototype validation influencer market share.</p>
            <p>Deployment long tail monetization strategy equity basic of team of conversion. Supply chain freemium investor long tail agile workers prototype validation influencer market share.</p>
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/signature.png" alt="signature">
        </div>
        <div class="part2">
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/femaleDoctor.png" alt="female doctor">
        </div>        
    </section>

    <section class="freecheckup">
        <video src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/video/The+New+Stamford+Hospital+TV+Commercial.mp4" loop autoplay muted></video>
        <div class="part1">
            <h1>Your wellness builds upon the medical daily.</h1>
            <p>Find your best self here. Discover new ways to live an inspiring life through natural beauty, nutrition and diet, an active lifestyle, and better relationships</p>   
            <button class="sky-blue">Get a free Checkup</button>
        </div>

        <div class="part2">
            <div class="cards">
                <h3>12M</h3>
                <li>Happy Patients</li>
            </div>
            <div class="cards">
                <h3>5K</h3>
                <li>Medical Assistants</li>
            </div>
            <div class="cards">
                <h3>9.8</h3>
                <li>Alexa Score</li>
            </div>
            <div class="cards">
                <h3>3.2K</h3>
                <li>Doctors Available</li>
            </div>
            <div class="cards">
                <h3>45K</h3>
                <li>Cure Rate</li>
            </div>
            <div class="cards">
                <h3>75</h3>
                <li>Health Points</li>
            </div>
        </div>
    </section>

    <section class="help">
        <div class="help_container">
            <div class="left">
                <h2>Join our team</h2>
                <p>We are always looking for good and talented people.</p>
            </div>
            <div class="right">
                <button class="sky-blue">Submit your CV</button>
            </div>
        </div>       
    </section>

    <footer class="footer">
        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" alt="logo">
        
            <ul class="tags">
                <a href="doctor"><li>Doctors</li></a>
                <a href="hospital"><li>Hospitals</li></a>
                <a href="Dentistry"><li>Treatment</li></a>
                <a href="contact"><li>Contact Us</li></a>
                <a href="FAQ"><li>FAQs</li></a>
            </ul>
        
        <div class="logos">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-pinterest-p"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-google-plus"></i>
            <i class="fab fa-instagram"></i>
        </div>
        <div class="copyright">
            <p>All Rights Reserved. © tvastra 2021</p>
        </div>
    </footer>
    <script type="text/javascript" src="../assets/scripts/index.js"></script>
</body>
</html>