<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5fdca5a363.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/theme.css">
    <link rel="stylesheet" href="../assets/css/about-hospital.css">
    <title>About Hospital</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="/"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="tvastra"></a>
        </div> 
        <i class="fas fa-bars"></i>
        <ul class="menubar">
            <a href="doctor"><li>Doctors</li></a>
            <a href="hospital"><li>Hospitals</li></a>
            <a href="Dentistry"><li>Treatment</li></a>
            <li>Other Services</li>
            <a href="about-us"><li>About</li></a>
        </ul>        
        <div class="top_button">
            <a href="tvastra-plus"><button class="sky-blue">Tvastra Plus</button></a>    
            <a href="query"><button class="dark-blue">Get a Quote</button></a>
        </div>
    </nav> 
    <section class="top">
        <div class="heading_container">
            <h1>About Apollo Hospital</h1>
            <span>Home / Hospital Profile</span>
        </div>        
    </section>
    <section class="data">
        <div class="data_container">
            <div class="part1">
                <img src="https://resize.indiatvnews.com/en/resize/newbucket/1200_-/2020/02/apollo-hospital-final-1581595179.jpg" alt="Apollo Hospital's image">
                <button class="dark-blue">Call Now</button>
            </div>
            <div class="part2">
                <header>
                    <h2>Apollo Hospital</h2>
                    <div class="container">
                        <div class="part1">
                            <i class="fas fa-map-marker-alt"></i>
                            <span>Delhi Mathura Road, Sarita Vihar, Delhi 110076</span>    
                        </div>
                        <div class="part2">
                            <i class="fas fa-bed"></i>
                            <span>113 Beds</span>
                        </div>                       
                        
                    </div>
                    <p>Apollo Hospitals has emerges as Asia's foremost integrated healthcare services provider and has a robust presence across the healthcare ecosystem, including Hospitals, Pharmacies, Primary Care & Diagnostic Clinics and several retail models. The Group alos has Telemedicine facilites across several countries, Health Insurance Services, Global Projects, Consultancy, Medical Colleges, Medvarsity for E-Learning, colleges of Nursing and Hospital Management and a Research Foundation in addition, 'ASK Apollo' - an online consultation portal and Apollo Home Health provide the care continuum.</p>
                </header>
                <li class="heading">
                    <div class="part1">
                        <i class="fas fa-award"></i>
                        <h4>Specialization</h4>
                    </div>
                    <div class="part2">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </li>
                <div class="heading_data">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a augue vel risus molestie consequat vitae sed felis. Phasellus auctor pretium maximus. Pellentesque eget rhoncus ipsum, a tempor enim.</p> 
                </div>
                <li class="heading">
                    <div class="part1">
                        <i class="fas fa-stethoscope"></i>
                        <h4>Famous Treatments</h4>
                    </div>
                    <div class="part2">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </li>
                <div class="heading_data">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a augue vel risus molestie consequat vitae sed felis. Phasellus auctor pretium maximus. Pellentesque eget rhoncus ipsum, a tempor enim.</p> 
                </div>
                <li class="heading">
                    <div class="part1">
                        <i class="fas fa-user-md"></i>
                        <h4>Famous Doctors</h4>
                    </div>
                    <div class="part2">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </li>
                <div class="heading_data">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a augue vel risus molestie consequat vitae sed felis. Phasellus auctor pretium maximus. Pellentesque eget rhoncus ipsum, a tempor enim.</p> 
                </div>
                <li class="heading">
                    <div class="part1">
                        <i class="fas fa-hospital"></i>
                        <h4>Infrastructure</h4>
                    </div>
                    <div class="part2">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </li>
                <div class="heading_data">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a augue vel risus molestie consequat vitae sed felis. Phasellus auctor pretium maximus. Pellentesque eget rhoncus ipsum, a tempor enim.</p> 
                </div>
                <li class="heading">
                    <div class="part1">
                        <i class="fas fa-map-marker-alt"></i>
                        <h4>Complete Address</h4>
                    </div>
                    <div class="part2">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </li>
                <div class="heading_data">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a augue vel risus molestie consequat vitae sed felis. Phasellus auctor pretium maximus. Pellentesque eget rhoncus ipsum, a tempor enim.</p> 
                </div>
                <li class="heading">
                    <div class="part1">
                        <i class="fas fa-h-square"></i>
                        <h4>Hospital Packages</h4>
                    </div>
                    <div class="part2">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </li>
                <div class="heading_data">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a augue vel risus molestie consequat vitae sed felis. Phasellus auctor pretium maximus. Pellentesque eget rhoncus ipsum, a tempor enim.</p> 
                </div>
                <li class="heading">
                    <div class="part1">
                        <i class="fas fa-rupee-sign"></i>
                        <h4>Hospital Charges</h4>
                    </div>
                    <div class="part2">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </li>
                <div class="heading_data">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a augue vel risus molestie consequat vitae sed felis. Phasellus auctor pretium maximus. Pellentesque eget rhoncus ipsum, a tempor enim.</p> 
                </div>
                <li class="heading">
                    <div class="part1">
                        <i class="fas fa-id-card"></i>
                        <h4>Membership</h4>
                    </div>
                    <div class="part2">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </li>
                <div class="heading_data">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a augue vel risus molestie consequat vitae sed felis. Phasellus auctor pretium maximus. Pellentesque eget rhoncus ipsum, a tempor enim.</p> 
                </div>
            </div>
        </div>
    </section>
    
    <section class="help">
        <div class="help_container">
            <div class="left">
                <h2>Need Help?</h2>
                <p>Just let us know. We will be happy to assist you</p>
            </div>
            <div class="right">
                <button class="sky-blue">Submit your query</button>
            </div>
        </div>       
    </section>
    <footer class="footer">
        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" alt="logo">
        
            <ul class="tags">
                <a href="doctor"><li>Doctors</li></a>
                <a href="hospital"><li>Hospitals</li></a>
                <a href="Dentistry"><li>Treatment</li></a>
                <a href="contact"><li>Contact Us</li></a>
                <a href="FAQ"><li>FAQs</li></a>
            </ul>
        
        <div class="logos">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-pinterest-p"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-google-plus"></i>
            <i class="fab fa-instagram"></i>
        </div>
        <div class="copyright">
            <p>All Rights Reserved. © tvastra 2021</p>
        </div>
    </footer>
    <script src="../assets/scripts/doctor-profile.js"></script>
</body>
</html>