<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5fdca5a363.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/theme.css">
    <link rel="stylesheet" href="../assets/css/contact.css">
    <title>Contact Us</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="/index"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="tvastra"></a>
        </div> 
        <div class="picburgercontainer">
            <img class="mobimg" src="../assets/uploads/<%= user.image %>" alt="profile">
            <i class="fas fa-bars"></i>
        </div>
        <ul class="menubar">
            <a href="doctor"><li>Doctors</li></a>
            <a href="hospital"><li>Hospitals</li></a>
            <a href="Dentistry"><li>Treatment</li></a>
            <a href="about-us"><li>About</li></a>
        </ul>        
        <div class="top_button">
            <a href="tvastra-plus"><button class="sky-blue">Tvastra Plus</button></a>    
            <a href="query"><button class="dark-blue">Get a Quote</button></a>
            <div class="name_container">
                <h6><%= name %></h6>
                <i class="fas fa-angle-down"></i>
            </div>
        </div>
    </nav> 
    <div class="profile_section">
        <figure>
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="tvastra">
        </figure>
        <ul class="list">
            <a href="/appointments">
                <li>My Appointments</li>
            </a>
            <a href="/records">
                <li>Medical Records</li>
            </a>
            <a href="/settings">
                <li>Settings</li>
            </a>
            <% if(user.fees){ %>
                <a href="/add-schedule">
                    <li>Add Schedule</li>
                </a>
            <% } %>
            <a href="/logout">
                <li>Logout</li>
            </a>
        </ul>
    </div>
    <div class="profile_section_2">
        <div class="part_1">
            <img src="../assets/uploads/<%= user.image %>" alt="profile image">
            <h6><%= name %></h6>
        </div>
        <ul class="list">
            <a href="/appointments">
                <li>My Appointments</li>
            </a>
            <a href="/records">
                <li>Medical Records</li>
            </a>
            <a href="/settings">
                <li>Settings</li>
            </a>
            <% if(user.fees){ %>
                <a href="/add-schedule">
                    <li>Add Schedule</li>
                </a>
            <% } %>
            <a href="/logout">
                <li>Logout</li>
            </a>
        </ul>
    </div>  
    <section class="top">
        <div class="heading_container">
            <h1>Contact Us</h1>
            <span>Home / Contact Us</span>
        </div>        
    </section>
    <section class="map_container">
        <img src="https://i0.wp.com/www.cssscript.com/wp-content/uploads/2018/03/Simple-Location-Picker.png?fit=561%2C421&ssl=1" alt="sample location">
    </section>
    <section class="embedded_container">
        <section class="data_list">
            <ul class="data_list_container">
                <li>
                    <i class="fas fa-home"></i>
                    <div>
                        <h5>Noida, India</h5>
                        <h6>Sector 45</h6>
                    </div>
                </li>
                <li>
                    <i class="fas fa-phone-alt"></i>
                    <div>
                        <h5>00 (440) 9865 562</h5>
                        <h6>Mon to Fri 9am to 6pm </h6>
                    </div>
                </li>
                <li>
                    <i class="fas fa-home"></i>
                    <div>
                        <h5>support@tvastra.com</h5>
                        <h6>Send us your query anytim5</h6>
                    </div>
                </li>
            </ul>
        </section>
        <section class="form_container">
            <form action="submit">
                <div class="innerform_container">
                    <input type="text" placeholder="Enter your name">
                    <input type="text" placeholder="Enter email address">
                    <input type="text" placeholder="Enter subject">
                    <textarea type="text" placeholder="Enter Message"></textarea>
                </div>           
               <button class="sky-blue">Send Message</button>
            </form>
        </section>
    </section>
    
    <footer class="footer">
        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" alt="logo">
        
            <ul class="tags">
                <a href="doctor"><li>Doctors</li></a>
                <a href="hospital"><li>Hospitals</li></a>
                <a href="Dentistry"><li>Treatment</li></a>
                <a href="contact"><li>Contact Us</li></a>
                <a href="FAQ"><li>FAQs</li></a>
            </ul>
        
        <div class="logos">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-pinterest-p"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-google-plus"></i>
            <i class="fab fa-instagram"></i>
        </div>
        <div class="copyright">
            <p>All Rights Reserved. © tvastra 2021</p>
        </div>
    </footer>
    <script type="text/javascript" src="../assets/scripts/index.js"></script>
</body>
</html>