<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5fdca5a363.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/theme.css">
    <link rel="stylesheet" href="../assets/css/hospital.css">
    <title>Hospital</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="/"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="tvastra"></a>
        </div> 
        <i class="fas fa-bars"></i>
        <ul class="menubar">
            <a href="doctor"><li>Doctors</li></a>
            <a href="hospital"><li>Hospitals</li></a>
            <a href="Dentistry"><li>Treatment</li></a>
            <li>Other Services</li>
            <a href="about-us"><li>About</li></a>
        </ul>        
        <div class="top_button">
            <a href="tvastra-plus"><button class="sky-blue">Tvastra Plus</button></a>    
            <a href="query"><button class="dark-blue">Get a Quote</button></a>
        </div>
    </nav> 
    <section class="intro">
        <h3>Hospitals in <span>Delhi</span></h3>
    </section>
    <section class="doctors">
        <header class="sort">
            <h5>Home / Hospital List</h5>
            <select name="sort" id="">
                <option value="">Sort By</option>
            </select>
        </header>
        <div class="doctor_container">
            <div class="left">
                <header class="filter_container">
                    <div class="filter_container_1">
                        <h6>Filter By</h6>
                    </div>
                    <div class="filter_container_2">
                        <div class="filter_tag">
                           <p>DLF Cyber City</p> 
                           <i class="fas fa-times"></i>
                        </div>
                        <div class="filter_tag">
                            <p>Multi Organ Transplant</p>
                            <i class="fas fa-times"></i>
                        </div>
                        
                    </div>
                    
                </header>
                <div class="location">
                    <header>
                        <h6>Location</h6>
                        <i class="fas fa-search"></i>
                    </header>
                    <div class="data_container">
                        <label class="labels" for="DLF">
                            <input type="checkbox" class="options" id="DLF" value="DLF Cyber City">
                        DLF Cyber City</label>
                        <label class="labels" for="Dwarka">
                            <input type="checkbox" class="options" id="Dwarka" value="Dwarka">
                        Dwarka</label>
                        <label for="Lajpat" class="labels">
                            <input type="checkbox" class="options" id="Lajpat" value="Lajpat Nagar">
                        Lajpat Nagar</label>
                        <label for="Palam" class="labels">
                            <input type="checkbox" class="options" id="Palam" value="Palam Vihar">
                        Palam Vihar</label>
                        <label for="Punjabi" class="labels">
                            <input type="checkbox" class="options" id="Punjabi" value="Punjabi Bagh">
                        Punjabi Bagh</label>
                        <label for="Pusa" class="labels">
                            <input type="checkbox" class="options" id="Pusa" value="Pusa Road">
                        Pusa Road</label>
                    </div>
                    <div class="bottom">
                        <p>+ Show More</p>
                    </div>
                </div>
                <div class="hospitals">
                    <header>
                        <h6>Department</h6>
                        <i class="fas fa-search"></i>
                    </header>
                    <div class="data_container">
                        <label class="labels" for="Department1">
                            <input type="checkbox" class="options" id="Department1" value="Department 1">
                            Department 1</label>
                        <label class="labels" for="Department2">
                            <input type="checkbox" class="options" id="Department2" value="Department 2">
                            Department 2</label>
                        <label for="Department3" class="labels">
                            <input type="checkbox" class="options" id="Department3" value="Department 3">
                            Department 3</label>
                        <label for="Department4" class="labels">
                            <input type="checkbox" class="options" id="Department4" value="Department 4">
                            Department 1</label>
                        <label for="Department 5" class="labels">
                            <input type="checkbox" class="options" id="Department5" value="Department 5">
                            Department 1</label>
                        <label for="Department6" class="labels">
                            <input type="checkbox" class="options" id="Department6" value="Department 6">
                            Department 6</label>
                    </div>
                    <div class="bottom">
                        <p>+ Show More</p>
                    </div>
                </div>
                <div class="treatment">
                    <header>
                        <h6>Treatment</h6>
                        <i class="fas fa-search"></i>
                    </header>
                    <div class="data_container">
                        <label class="labels" for="Mulit">
                            <input type="checkbox" class="options" id="Multi" value="Multi Organ Transplant">
                        Multi Organ Transplant</label>
                        <label class="labels" for="Orthopedic">
                            <input type="checkbox" class="options" id="Orthopedic" value="Orthopedic Surgery">
                        Orthopedic Surgery</label>
                        <label for="Infertility" class="labels">
                            <input type="checkbox" class="options" id="Infertility" value="Infertility Treatment">
                        Infertility Treatment</label>
                        <label for="Dentistry" class="labels">
                            <input type="checkbox" class="options" id="Dentistry" value="Dentistry">
                        Dentistry</label>
                        <label for="Cardiology" class="labels">
                            <input type="checkbox" class="options" id="Cardiology" value="Cardiology">
                        Cardiology</label>
                        <label for="Cancer" class="labels">
                            <input type="checkbox" class="options" id="Cancer" value="Cancer">
                        Cancer</label>
                    </div>
                    <div class="bottom">
                        <p>+ Show More</p>
                    </div>
                </div>
                
            </div>
            <div class="right">
                <figure class="doctor_card">
                    <figcaption>
                        <div class="name">
                           <a href="/about-hospital"><h5>Apollo Hospital</h5></a>
                        </div>
                        <ul>
                            <li>
                                <span><i class="fas fa-map-marker-alt"></i></span>
                                Delhi Mathura Road, Sarita Vihar, Delhi 110076
                            </li>
                            <li>
                                <span><i class="fas fa-bed"></i></span>
                                100 beds
                            </li>
                            <li>
                                <span><i class="fas fa-stethoscope"></i></span>
                                Famous Treatments
                            </li>
                        </ul> 
                        <div class="tags_container">
                            <div class="tags">
                                <p>Multi Organ Transplant</p>   
                            </div>
                            <div class="tags">
                                <p>Orthopedic Surgery</p>   
                            </div>
                            <div class="tags">
                                <p>Infertility Treatment</p>
                            </div>
                            <div class="tags">
                                <p>Dentistry</p>    
                            </div>
                            <div class="tags">
                                <p>Cardiology</p> 
                            </div>
                            <div class="tags">
                                <p>Cancer</p> 
                            </div>
                            <div class="tags">
                                <p>+10 more</p> 
                            </div>
                        </div>
                        <div class="button_book">
                            <button class="dark-blue">Call Now</button>
                        </div>
                    </figcaption>               
                    <div class="image">
                        <img src="https://thechirurgie.com/wp-content/uploads/2019/08/indraprastha-apollo-hospitals-sarita-vihar-delhi-multispeciality-hospitals-i9a1q-1.jpg" alt="Duke Sanson">
                    </div>             
                </figure>
                <figure class="doctor_card">
                    <figcaption>
                        <div class="name">
                            <a href="/about-hospital"><h5>Fortis Hospital</h5></a>
                        </div>
                        <ul>
                            <li>
                                <span><i class="fas fa-map-marker-alt"></i></span>
                                Delhi Mathura Road, Sarita Vihar, Delhi 110076
                            </li>
                            <li>
                                <span><i class="fas fa-bed"></i></span>
                                100 beds
                            </li>
                            <li>
                                <span><i class="fas fa-stethoscope"></i></span>
                                Famous Treatments
                            </li>
                        </ul> 
                        <div class="tags_container">
                            <div class="tags">
                                <p>Multi Organ Transplant</p>   
                            </div>
                            <div class="tags">
                                <p>Orthopedic Surgery</p>   
                            </div>
                            <div class="tags">
                                <p>Infertility Treatment</p>
                            </div>
                            <div class="tags">
                                <p>Dentistry</p>    
                            </div>
                            <div class="tags">
                                <p>Cardiology</p> 
                            </div>
                            <div class="tags">
                                <p>Cancer</p> 
                            </div>
                            <div class="tags">
                                <p>+10 more</p> 
                            </div>
                        </div>
                        <div class="button_book">
                            <button class="dark-blue">Call Now</button>
                        </div>
                    </figcaption>               
                    <div class="image">
                        <img src="http://d3frl090092vlr.cloudfront.net/Fortis-Hospital-la-shalimar-bagh.jpg" alt="Duke Sanson">
                    </div>             
                </figure>
                <figure class="doctor_card">
                    <figcaption>
                        <div class="name">
                            <a href="/about-hospital"><h5>Rockland Hospital</h5></a>
                        </div>
                        <ul>
                            <li>
                                <span><i class="fas fa-map-marker-alt"></i></span>
                                Delhi Mathura Road, Sarita Vihar, Delhi 110076
                            </li>
                            <li>
                                <span><i class="fas fa-bed"></i></span>
                                100 beds
                            </li>
                            <li>
                                <span><i class="fas fa-stethoscope"></i></span>
                                Famous Treatments
                            </li>
                        </ul> 
                        <div class="tags_container">
                            <div class="tags">
                                <p>Multi Organ Transplant</p>   
                            </div>
                            <div class="tags">
                                <p>Orthopedic Surgery</p>   
                            </div>
                            <div class="tags">
                                <p>Infertility Treatment</p>
                            </div>
                            <div class="tags">
                                <p>Dentistry</p>    
                            </div>
                            <div class="tags">
                                <p>Cardiology</p> 
                            </div>
                            <div class="tags">
                                <p>Cancer</p> 
                            </div>
                            <div class="tags">
                                <p>+10 more</p> 
                            </div>
                        </div>
                        <div class="button_book">
                            <button class="dark-blue">Call Now</button>
                        </div>
                    </figcaption>               
                    <div class="image">
                        <img src="https://static.medigence.com/uploads/hospital/images/a8fdac0fd3896bed81f22fbf0db58b33.jpg" alt="Duke Sanson">
                    </div>             
                </figure>
                <figure class="doctor_card">
                    <figcaption>
                        <div class="name">
                            <a href="/about-hospital"><h5>Primus Super Speciality Hospital</h5></a>
                        </div>
                        <ul>
                            <li>
                                <span><i class="fas fa-map-marker-alt"></i></span>
                                Delhi Mathura Road, Sarita Vihar, Delhi 110076
                            </li>
                            <li>
                                <span><i class="fas fa-bed"></i></span>
                                100 beds
                            </li>
                            <li>
                                <span><i class="fas fa-stethoscope"></i></span>
                                Famous Treatments
                            </li>
                        </ul> 
                        <div class="tags_container">
                            <div class="tags">
                                <p>Multi Organ Transplant</p>   
                            </div>
                            <div class="tags">
                                <p>Orthopedic Surgery</p>   
                            </div>
                            <div class="tags">
                                <p>Infertility Treatment</p>
                            </div>
                            <div class="tags">
                                <p>Dentistry</p>    
                            </div>
                            <div class="tags">
                                <p>Cardiology</p> 
                            </div>
                            <div class="tags">
                                <p>Cancer</p> 
                            </div>
                            <div class="tags">
                                <p>+10 more</p> 
                            </div>
                        </div>
                        <div class="button_book">
                            <button class="dark-blue">Call Now</button>
                        </div>
                    </figcaption>               
                    <div class="image">
                        <img src="https://avocure-uploads.s3.amazonaws.com/uploads/clinic/cover_pic_url/8/primus_super_speciality_hospital.jpg" alt="Duke Sanson">
                    </div>             
                </figure>
            
            
        </div>
    </section>
    <section class="help">
        <div class="help_container">
            <div class="left">
                <h2>Need Help?</h2>
                <p>Just let us know, we will happy to assist you</p>
            </div>
            <div class="right">
                <a href="/src/client/views/query.html"><button class="sky-blue">Submit your enquiry</button></a>
            </div>
        </div>       
    </section>

    <footer class="footer">
        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" alt="logo">
        
            <ul class="tags">
                <a href="doctor"><li>Doctors</li></a>
                <a href="hospital"><li>Hospitals</li></a>
                <a href="Dentistry"><li>Treatment</li></a>
                <a href="contact"><li>Contact Us</li></a>
                <a href="FAQ"><li>FAQs</li></a>
            </ul>
        
        <div class="logos">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-pinterest-p"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-google-plus"></i>
            <i class="fab fa-instagram"></i>
        </div>
        <div class="copyright">
            <p>All Rights Reserved. © tvastra 2021</p>
        </div>
    </footer>
    
</body>
</html>