<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5fdca5a363.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/theme.css">
    <link rel="stylesheet" href="../assets/scss/index.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="tvastra">
        </div> 
        <i class="fas fa-bars"></i>
    </nav> 
    <section class="top">
        <header>
            <h1>Find Affordable Healthcare</h1>
            <p>Join the thousands of others who have exercised their rights to quality healthcare at a price you can afford</p>
        </header>
        <div class="formcontainer">
            <div class="country_container">
                <i class="fas fa-map-marker-alt"></i>
                <span class="gps"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/gps.png" alt="gps"></span>        
                <input class="country" type="text" placeholder="Ahmedabad">
            </div>          
            <input type="text" placeholder="Search for Doctor, hospitals and treatments">
            <button class="dark-blue topsearch">Search</button>          
        </div>        
    </section>
    <section class="howitworks">
        <header>
            <h2>How it works</h2>
            <p>Various facilities are provided here. But there is a protocol which needs to be followed so that you get the service at it's best.</p>
        </header>
        <ul class="grid how_it_works_container">
            <li class="one white grid">
                <span>01</span>
                <h3>Fix Consultation</h3>
            </li>
                <figure class="fbox">
                    <div class="imgcont"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img1.png" alt="Fix consultancy"></div>
                    <figcaption>
                        <h4>Fix Consultation</h4>
                    <p>This depicts that user will have to fix appointment first when it selects a particular doctor</p>
                    </figcaption>                    
                </figure>
            <li class="one white grid">
                <span>02</span>
                <h3>Upload Medical Reports</h3>
            </li>
            <li class="one white grid">
                <span>03</span>
                <h3>Consult with doctor</h3>
            </li>
            <li class="one white grid">
                <span>04</span>
                <h3>Fix Surgery</h3>
            </li>
            <li class="one white grid">
                <span>05</span>
                <h3>Hospital sent estimates</h3>
            </li>
            <li class="one white grid">
                <span>06</span>
                <h3>Payment</h3>
            </li>
            <li class="one white grid">
                <span>07</span>
                <h3>Surgery Completed</h3>
            </li>
        </ul>        
    </section>
    <section class="expertdoctors">
        <header>
            <h2>World Class Expert Doctors!</h2>
            <p>The university of Texas Southeastern Medical center has been a long world-renowned research hospital. But untill the '80s. you couldn't go there. NOw, with the addition of Aston Center and Zale Lipshy Hospital. UT Southeastern is also a mecca for patients.</p>
        </header>
        <div class="doctorgrid">
            <figure class="doctorcard">
                <div>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--002.jpg" alt="Duke Sanson">
                </div>                
                <figcaption class="data_container">
                    <h5>Duke Sanson</h5>
                    <ul>
                        <li>Neuro Surgeon</li>
                        <li>Chain Department of Neurological Surgery</li>
                        <li>Australia</li>
                    </ul>                    
                </figcaption>            
            </figure>
            <figure class="doctorcard">
                <div>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--004.jpg" alt="Georgia Peter">
                </div>                
                <figcaption class="data_container">
                    <h5>Georgia Peter</h5>
                    <ul>
                        <li>Breast Cancer Surgeon</li>
                        <li>Director, UT, Southwest</li>
                        <li>London</li>
                    </ul>                    
                </figcaption>            
            </figure>
            <figure class="doctorcard">
                <div>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg" alt="Charlie Moon">
                </div>                
                <figcaption class="data_container">
                    <h5>Charlie Moon</h5>
                    <ul>
                        <li>Cardiac Surgeon</li>
                        <li>MBBS, MD, FRCP, MRCP, Fellowship</li>
                        <li>New Delhi, India</li>
                    </ul>                    
                </figcaption>            
            </figure>
            <figure class="doctorcard">
                <div>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg" alt="Rose Moon">
                </div>                
                <figcaption class="data_container">
                    <h5>Rose Moon</h5>
                    <ul>
                        <li>Plastic Surgeon</li>
                        <li>Department of Plastic and Reconstructive Surgery</li>
                        <li>Dubai</li>
                    </ul>                    
                </figcaption>            
            </figure>           
        </div>
    </section>
    <section class="medicaltreatment">
        <header>
            <h2>Featured Medical Treatment</h2>
            <p>Join the thousands of others who have exercised their rights to quality healthcare at a price you can afford</p>
        </header>
        <div class="medical_container">
            <div class="photos1">
                <h5>Dentistry</h5>
                <p>50+ Specialists</p>
            </div>
            <div class="photos2">
                <h5>Cancer</h5>
                <p>50+ Specialists</p>
            </div>
            <div class="photos3">
                <h5>Cardiologic Treatment</h5>
                <p>50+ Specialists</p>
            </div>
            <div class="photos4">
                <h5>Multi Organ Transplant</h5>
                <p>50+ Specialists</p>
            </div>
            <div class="photos5">
                <h5>Orthopedics Surgery</h5>
                <p>50+ Specialists</p>
            </div>
            <div class="photos6">
                <h5>Infertility Treatment</h5>
                <p>50+ Specialists</p>
            </div>  
        </div>
    </section>
    <section class="exclusive">
        <header>
            <h2>Exclusive services</h2>
            <p>We want you to be comfortable and thus apart from treating your illness, we provide you other services that you can see</p>
        </header>
        <div class="service_container">
            <figure class="services">
                <div>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-01.png" alt="travel">
                </div>
                <figcaption><h6>TRAVEL</h6></figcaption>              
            </figure>
            <figure class="services">
                <div>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-02.png" alt="food">
                </div>
                <figcaption><h6>FOOD</h6></figcaption>                
            </figure>
            <figure class="services">
                <div>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-03.png" alt="accomodation">
                </div>
                <figcaption><h6>ACCOMODATION</h6></figcaption>
            </figure>
            <figure class="services">
                <div>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-07.png" alt="">
                </div>
                <figcaption><h6>LABS</h6></figcaption>
            </figure>
            <figure class="services">
                <div>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-10.png" alt="">
                </div>
                <figcaption><h6>REPORTS</h6></figcaption>
            </figure>
            <figure class="services">
                <div>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-06.png" alt="">
                </div>
                <figcaption><h6>AMBULANCE</h6></figcaption>
            </figure>
        </div>
    </section>
    <section class="help">
        <h2>Need Help?</h2>
        <p>Just let us know, we will happy to assist you</p>
        <button class="sky-blue">Submit your enquiry</button>
    </section>
    <footer class="footer">
        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" alt="logo">
        <div class="tags">
            <ul>
                <li>Doctor</li>
                <li>Hospital</li>
                <li>Treatment</li>
                <li>Other Services</li>
                <li>FAQs</li>
            </ul>
        </div>
        <div class="logos">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-pinterest-p"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-google-plus"></i>
            <i class="fab fa-instagram"></i>
        </div>
        <div class="copyright">
            <p>All Rights Reserved. © tvastra 2021</p>
        </div>
    </footer>
</body>
</html>