<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5fdca5a363.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/theme.css">
    <link rel="stylesheet" href="../assets/scss/index.css">
    
    <title>Tvastra</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="/src/client/views/index.html"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="tvastra"></a>
        </div> 
        <i class="fas fa-bars"></i>
        <ul class="menubar">
            <a href="/client/views/doctor.html"><li>Doctors</li></a>
            <a href="/client/views/hospital.html"><li>Hospitals</li></a>
            <a href="/client/views/Dentistry.html"><li>Treatment</li></a>
            <li>Other Services</li>
            <a href="/client/views/about-us.html"><li>About</li></a>
        </ul>        
        <div class="top_button">
            <a href="/client/views/tvastra-plus.html"><button class="sky-blue">Tvastra Plus</button></a>    
            <a href="/client/views/query.html"><button class="dark-blue">Get a Quote</button></a>
        </div>
    </nav> 
    <section class="top">
        <header>
            <h1>Find Affordable Healthcare</h1>
            <p>Join the thousands of others who have exercised their rights to quality healthcare at a price you can afford</p>
        </header>
        <div class="formcontainer">
            <div class="country_container">
                <i class="fas fa-map-marker-alt"></i>
                <span class="gps"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/gps.png" alt="gps"></span>        
                <input class="country" type="text" placeholder="Ahmedabad">
            </div>          
            <input type="text" placeholder="Search for Doctor, hospitals and treatments">
            <button class="dark-blue topsearch">Search</button>          
        </div>        
    </section>
    <section class="howitworks">
        <header>
            <h2>How it works</h2>
            <p>Various facilities are provided here. But there is a protocol which needs to be followed so that you get the service at it's best.</p>
        </header>
        <ul class="grid how_it_works_container">
            <li class="one white grid active" >
                <span>01</span>
                <h3>Fix Consultation</h3>
            </li>
            <figure class="fbox show">
                <div class="imgcont"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img1.png" alt="Fix consultancy"></div>
                <figcaption>
                <h4>Fix Consultation</h4>
                <p>This depicts that user will have to fix appointment first when it selects a particular doctor</p>
                </figcaption>                    
            </figure>
            <li class="one white grid" >
                <span>02</span>
                <h3>Upload Medical Reports</h3>
            </li>
            <figure class="fbox">
                <div class="imgcont"><img src="https://workspace.konfinity.com/swapnil/tvastra-wiki/-/wikis/uploads/5e1270dcfc74ad0d6695db4451580c89/img2.png" alt="Upload"></div>
                <figcaption>
                <h4>Upload Medical Reports</h4>
                <p>This depicts that user will have to upload medical reports</p>
                </figcaption>                    
            </figure>
            <li class="one white grid">
                <span>03</span>
                <h3>Consult with doctor</h3>
            </li>
            <figure class="fbox">
                <div class="imgcont"><img src="https://workspace.konfinity.com/swapnil/tvastra-wiki/-/wikis/uploads/10e9b6f185ee7d5df98e3ad860c07a84/img3.jpeg" alt="Consult"></div>
                <figcaption>
                <h4>Consult with Doctor</h4>
                <p>This depicts that user will have to consult with a doctor once it selects a particular doctor</p>
                </figcaption>                    
            </figure>
            <li class="one white grid">
                <span>04</span>
                <h3>Fix Surgery</h3>
            </li>
            <figure class="fbox">
                <div class="imgcont"><img src="https://workspace.konfinity.com/swapnil/tvastra-wiki/-/wikis/uploads/1ecaf7d6b5ff928bee13c93698de9f8c/img4.jpeg" alt="Fix consultancy"></div>
                <figcaption>
                <h4>Fix Surgery</h4>
                <p>This depicts that user will have to fix appointment for the surgery</p>
                </figcaption>                    
            </figure>
            <li class="one white grid">
                <span>05</span>
                <h3>Hospital sent estimates</h3>
            </li>
            <figure class="fbox">
                <div class="imgcont"><img src="https://workspace.konfinity.com/swapnil/tvastra-wiki/-/wikis/uploads/ed497e27b683b92016e6966b5e26304d/img5.jpg" alt="Fix consultancy"></div>
                <figcaption>
                <h4>Hospital Sent Estimates</h4>
                <p>This depicts that user will get an estimated cost by the hospital</p>
                </figcaption>                    
            </figure>
            <li class="one white grid">
                <span>06</span>
                <h3>Payment</h3>
            </li>
            <figure class="fbox">
                <div class="imgcont"><img src="https://workspace.konfinity.com/swapnil/tvastra-wiki/-/wikis/uploads/8ce17ae83c35ecf071115146c24c367a/img6.jpg" alt="Fix consultancy"></div>
                <figcaption>
                <h4>Payment</h4>
                <p>This depicts that user will have to complete the payment first</p>
                </figcaption>                    
            </figure>
            <li class="one white grid">
                <span>07</span>
                <h3>Surgery Completed</h3>
            </li>
            <figure class="fbox">
                <div class="imgcont"><img src="https://workspace.konfinity.com/swapnil/tvastra-wiki/-/wikis/uploads/fa2aa7381aca6eeff6386ae22a45ee3e/img7.jpeg" alt="Fix consultancy"></div>
                <figcaption>
                <h4>Surgery Completed</h4>
                <p>This depicts that user will have successfully undergone surgery</p>
                </figcaption>                    
            </figure>
        </ul>        
    </section>
    <section class="expertdoctors">
        <header>
            <h2>World Class Expert Doctors!</h2>
            <p>The university of Texas Southeastern Medical center has been a long world-renowned research hospital. But untill the '80s. you couldn't go there. NOw, with the addition of Aston Center and Zale Lipshy Hospital. UT Southeastern is also a mecca for patients.</p>
        </header>
        <div class="1 doctorgrid animate visible">
            <figure class="doctorcard">
                <div>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--002.jpg" alt="Duke Sanson">
                </div>                
                <figcaption class="data_container">
                    <h5>Duke Sanson</h5>
                    <ul>
                        <li>Neuro Surgeon</li>
                        <li>Chain Department of Neurological Surgery</li>
                        <li>Australia</li>
                    </ul>                    
                </figcaption>            
            </figure>
            <figure class="doctorcard">
                <div>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--004.jpg" alt="Georgia Peter">
                </div>                
                <figcaption class="data_container">
                    <h5>Georgia Peter</h5>
                    <ul>
                        <li>Breast Cancer Surgeon</li>
                        <li>Director, UT, Southwest</li>
                        <li>London</li>
                    </ul>                    
                </figcaption>            
            </figure>
            <figure class="doctorcard">
                <div>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg" alt="Charlie Moon">
                </div>                
                <figcaption class="data_container">
                    <h5>Charlie Moon</h5>
                    <ul>
                        <li>Cardiac Surgeon</li>
                        <li>MBBS, MD, FRCP, MRCP, Fellowship</li>
                        <li>New Delhi, India</li>
                    </ul>                    
                </figcaption>            
            </figure>
            <figure class="doctorcard">
                <div>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg" alt="Rose Moon">
                </div>                
                <figcaption class="data_container">
                    <h5>Rose Moon</h5>
                    <ul>
                        <li>Plastic Surgeon</li>
                        <li>Department of Plastic and Reconstructive Surgery</li>
                        <li>Dubai</li>
                    </ul>                    
                </figcaption>            
            </figure>         
        </div>
        <div class="2 doctorgrid animate">
            
            <figure class="doctorcard">
                <div>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--004.jpg" alt="Georgia Peter">
                </div>                
                <figcaption class="data_container">
                    <h5>Georgia Peter</h5>
                    <ul>
                        <li>Breast Cancer Surgeon</li>
                        <li>Director, UT, Southwest</li>
                        <li>London</li>
                    </ul>                    
                </figcaption>            
            </figure>
            <figure class="doctorcard">
                <div>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--002.jpg" alt="Duke Sanson">
                </div>                
                <figcaption class="data_container">
                    <h5>Duke Sanson</h5>
                    <ul>
                        <li>Neuro Surgeon</li>
                        <li>Chain Department of Neurological Surgery</li>
                        <li>Australia</li>
                    </ul>                    
                </figcaption>            
            </figure>
            <figure class="doctorcard">
                <div>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg" alt="Charlie Moon">
                </div>                
                <figcaption class="data_container">
                    <h5>Charlie Moon</h5>
                    <ul>
                        <li>Cardiac Surgeon</li>
                        <li>MBBS, MD, FRCP, MRCP, Fellowship</li>
                        <li>New Delhi, India</li>
                    </ul>                    
                </figcaption>            
            </figure>
            <figure class="doctorcard">
                <div>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg" alt="Rose Moon">
                </div>                
                <figcaption class="data_container">
                    <h5>Rose Moon</h5>
                    <ul>
                        <li>Plastic Surgeon</li>
                        <li>Department of Plastic and Reconstructive Surgery</li>
                        <li>Dubai</li>
                    </ul>                    
                </figcaption>            
            </figure>         
        </div>
        <div class="3 doctorgrid animate">
            
            <figure class="doctorcard">
                <div>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--004.jpg" alt="Georgia Peter">
                </div>                
                <figcaption class="data_container">
                    <h5>Georgia Peter</h5>
                    <ul>
                        <li>Breast Cancer Surgeon</li>
                        <li>Director, UT, Southwest</li>
                        <li>London</li>
                    </ul>                    
                </figcaption>            
            </figure>
            
            <figure class="doctorcard">
                <div>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--002.jpg" alt="Duke Sanson">
                </div>                
                <figcaption class="data_container">
                    <h5>Duke Sanson</h5>
                    <ul>
                        <li>Neuro Surgeon</li>
                        <li>Chain Department of Neurological Surgery</li>
                        <li>Australia</li>
                    </ul>                    
                </figcaption>            
            </figure>
            <figure class="doctorcard">
                <div>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg" alt="Rose Moon">
                </div>                
                <figcaption class="data_container">
                    <h5>Rose Moon</h5>
                    <ul>
                        <li>Plastic Surgeon</li>
                        <li>Department of Plastic and Reconstructive Surgery</li>
                        <li>Dubai</li>
                    </ul>                    
                </figcaption>            
            </figure>         
            <figure class="doctorcard">
                <div>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg" alt="Charlie Moon">
                </div>                
                <figcaption class="data_container">
                    <h5>Charlie Moon</h5>
                    <ul>
                        <li>Cardiac Surgeon</li>
                        <li>MBBS, MD, FRCP, MRCP, Fellowship</li>
                        <li>New Delhi, India</li>
                    </ul>                    
                </figcaption>            
            </figure>
        </div>
        
        <div class="4 doctorgrid animate">
            <figure class="doctorcard">
                <div>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--002.jpg" alt="Duke Sanson">
                </div>                
                <figcaption class="data_container">
                    <h5>Duke Sanson</h5>
                    <ul>
                        <li>Neuro Surgeon</li>
                        <li>Chain Department of Neurological Surgery</li>
                        <li>Australia</li>
                    </ul>                    
                </figcaption>            
            </figure>
            <figure class="doctorcard">
                <div>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--004.jpg" alt="Georgia Peter">
                </div>                
                <figcaption class="data_container">
                    <h5>Georgia Peter</h5>
                    <ul>
                        <li>Breast Cancer Surgeon</li>
                        <li>Director, UT, Southwest</li>
                        <li>London</li>
                    </ul>                    
                </figcaption>            
            </figure>
            <figure class="doctorcard">
                <div>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg" alt="Charlie Moon">
                </div>                
                <figcaption class="data_container">
                    <h5>Charlie Moon</h5>
                    <ul>
                        <li>Cardiac Surgeon</li>
                        <li>MBBS, MD, FRCP, MRCP, Fellowship</li>
                        <li>New Delhi, India</li>
                    </ul>                    
                </figcaption>            
            </figure>
            <figure class="doctorcard">
                <div>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg" alt="Rose Moon">
                </div>                
                <figcaption class="data_container">
                    <h5>Rose Moon</h5>
                    <ul>
                        <li>Plastic Surgeon</li>
                        <li>Department of Plastic and Reconstructive Surgery</li>
                        <li>Dubai</li>
                    </ul>                    
                </figcaption>            
            </figure>         
        </div>
        <div class="caraousel_buttons"> 
            <span class="1 c_button doc activated"></span>
            <span class="2 c_button doc"></span>
            <span class="3 c_button doc"></span>
            <span class="4 c_button doc"></span>
        </div>  
    </section>
    <section class="medicaltreatment">
        <header>
            <h2>Featured Medical Treatment</h2>
            <p>Join the thousands of others who have exercised their rights to quality healthcare at a price you can afford</p>
        </header>
        <div class="1 medical_container animate visible">
            <div class="photos1">
                <h5>Dentistry</h5>
                <p>50+ Specialists</p>
            </div>
            <div class="photos2">
                <h5>Cancer</h5>
                <p>50+ Specialists</p>
            </div>
            <div class="photos3">
                <h5>Cardiologic Treatment</h5>
                <p>50+ Specialists</p>
            </div>
            <div class="photos4">
                <h5>Multi Organ Transplant</h5>
                <p>50+ Specialists</p>
            </div>
            <div class="photos5">
                <h5>Orthopedics Surgery</h5>
                <p>50+ Specialists</p>
            </div>
            <div class="photos6">
                <h5>Infertility Treatment</h5>
                <p>50+ Specialists</p>
            </div>  
        </div>
        <div class="2 medical_container animate">
            <div class="photos1">
                <h5>Dentistry</h5>
                <p>50+ Specialists</p>
            </div>
            <div class="photos2">
                <h5>Cancer</h5>
                <p>50+ Specialists</p>
            </div>
            <div class="photos3">
                <h5>Cardiologic Treatment</h5>
                <p>50+ Specialists</p>
            </div>
            <div class="photos4">
                <h5>Multi Organ Transplant</h5>
                <p>50+ Specialists</p>
            </div>
            <div class="photos5">
                <h5>Orthopedics Surgery</h5>
                <p>50+ Specialists</p>
            </div>
            <div class="photos6">
                <h5>Infertility Treatment</h5>
                <p>50+ Specialists</p>
            </div>  
        </div>
        
        <div class="3 medical_container animate">
            <div class="photos1">
                <h5>Dentistry</h5>
                <p>50+ Specialists</p>
            </div>
            <div class="photos2">
                <h5>Cancer</h5>
                <p>50+ Specialists</p>
            </div>
            <div class="photos3">
                <h5>Cardiologic Treatment</h5>
                <p>50+ Specialists</p>
            </div>
            <div class="photos4">
                <h5>Multi Organ Transplant</h5>
                <p>50+ Specialists</p>
            </div>
            <div class="photos5">
                <h5>Orthopedics Surgery</h5>
                <p>50+ Specialists</p>
            </div>
            <div class="photos6">
                <h5>Infertility Treatment</h5>
                <p>50+ Specialists</p>
            </div>  
        </div>
        <div class="caraousel_buttons"> 
            <span class="1 c_button med active"></span>
            <span class="2 c_button med"></span>
            <span class="3 c_button med"></span>
        </div>
    </section>
    <section class="exclusive">
        <header>
            <h2>Exclusive services</h2>
            <p>We want you to be comfortable and thus apart from treating your illness, we provide you other services that you can see</p>
        </header>
        <div class="service_container">
            <figure class="services">
                <div>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-01.png" alt="travel">
                </div>
                <figcaption><h6>TRAVEL</h6></figcaption>              
            </figure>
            <figure class="services">
                <div>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-02.png" alt="food">
                </div>
                <figcaption><h6>FOOD</h6></figcaption>                
            </figure>
            <figure class="services">
                <div>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-03.png" alt="accomodation">
                </div>
                <figcaption><h6>ACCOMODATION</h6></figcaption>
            </figure>
            <figure class="services">
                <div>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-07.png" alt="">
                </div>
                <figcaption><h6>LABS</h6></figcaption>
            </figure>
            <figure class="services">
                <div>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-10.png" alt="">
                </div>
                <figcaption><h6>REPORTS</h6></figcaption>
            </figure>
            <figure class="services">
                <div>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-06.png" alt="">
                </div>
                <figcaption><h6>AMBULANCE</h6></figcaption>
            </figure>
        </div>
    </section>
    <section class="help">
        <div class="help_container">
            <div class="left">
                <h2>Need Help?</h2>
                <p>Just let us know, we will happy to assist you</p>
            </div>
            <div class="right">
                <a href="/client/views/query.html"><button class="sky-blue">Submit your enquiry</button></a>
            </div>
        </div>       
    </section>
    <footer class="footer">
        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" alt="logo">
        
            <ul class="tags">
                <a href="/client/views/doctor.html"><li>Doctors</li></a>
                <a href="/client/views/hospital.html"><li>Hospitals</li></a>
                <a href="/client/views/Dentistry.html"><li>Treatment</li></a>
                <a href="/client/views/contact.html"><li>Contact Us</li></a>
                <a href="/client/views/FAQ.html"><li>FAQs</li></a>
            </ul>
        
        <div class="logos">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-pinterest-p"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-google-plus"></i>
            <i class="fab fa-instagram"></i>
        </div>
        <div class="copyright">
            <p>All Rights Reserved. © tvastra 2021</p>
        </div>
    </footer>
    <script type="text/javascript" src="/src/client/assets/scripts/index.js"></script>
</body>
</html>