<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5fdca5a363.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/theme.css">
    <link rel="stylesheet" href="../assets/css/login.css">
    <title>Login</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="/"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="tvastra"></a>
        </div> 
        <i class="fas fa-bars"></i>
        <ul class="menubar">
            <a href="doctor"><li>Doctors</li></a>
            <a href="hospital"><li>Hospitals</li></a>
            <a href="Dentistry"><li>Treatment</li></a>
            <a href="about-us"><li>About</li></a>
        </ul>        
        <div class="top_button">
            
            <a href="query"><button class="dark-blue">Get a Quote</button></a>
        </div>
    </nav>
    <% if(error) { %>
        <% if(errorType=='Failure'){ %>
            <div class="error_container">
                <i class="fas fa-times-circle"></i>
                <div class="data_container">
                    <h6>Failure</h6>
                    <span>Incorrect Email or Password</span>
                </div>
                <i class="fas fa-times"></i>
            </div>
        <% } %>
        
    <% } %> 
    <section class="login">
        
        <h1>Login</h1>
        <form action="/" method="POST">
            <div class="input1_container">
                <input name="email" type="text" placeholder="Enter Email">
                <i class="fas fa-question-circle"></i>
                
            </div>
            <div class="input1_container">
                <input name="password" type="password" placeholder="Enter Password">
                <i class="far fa-eye-slash"></i>
            </div>
            
            <div class="options_container">
                <a href="/otp">Login with OTP</a>
                <a href="/forgotpassword">Forgot Password</a>
            </div>
            <div class="button_container">
                <button type="submit" class="dark-blue">LOGIN</button>
                <i class="fas fa-arrow-right"></i>
            </div>            
        </form>
        <p>Not Registered? <a href="/signup"><span>Sign Up</span></p></a>
    </section>
    <section class="copyright">
        <span>All Rights Reserved © Tvastra 2020</span>
    </section>
    <script src="../assets/scripts/login.js"></script>
</body>
</html>