<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5fdca5a363.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/theme.css">
    <link rel="stylesheet" href="../assets/css/login.css">
    <title>Login</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="/src/client/views/index.html"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="tvastra"></a>
        </div> 
        <i class="fas fa-bars"></i>
        <ul class="menubar">
            <a href="/src/client/views/doctor.html"><li>Doctors</li></a>
            <a href="/src/client/views/hospital.html"><li>Hospitals</li></a>
            <a href="/src/client/views/Dentistry.html"><li>Treatment</li></a>
            <li>Other Services</li>
            <a href="/src/client/views/about-us.html"><li>About</li></a>
        </ul>        
        <div class="top_button">
            <a href="/src/client/views/tvastra-plus.html"><button class="sky-blue">Tvastra Plus</button></a>    
            <a href="/src/client/views/query.html"><button class="dark-blue">Get a Quote</button></a>
        </div>
    </nav> 
    <section class="login">
        <h1>Login</h1>
        <form action="submit">
            <div class="input1_container">
                <input type="text" placeholder="Enter Mobile Number">
                <i class="fas fa-question-circle"></i>
                
            </div>
            
            <input type="text" placeholder="Enter OTP">
            <div class="button_container">
                <button class="dark-blue">LOGIN</button>
                <i class="fas fa-arrow-right"></i>
            </div>            
        </form>
        <p>Not Registered? <span>Sign Up</span></p>
    </section>
    <section class="copyright">
        <span>All Rights Reserved © Tvastra 2020</span>
    </section>
</body>
</html>