<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5fdca5a363.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/theme.css">
    <link rel="stylesheet" href="../assets/css/signup.css">
    <title>Sign Up</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="/client/views/index.html"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="tvastra"></a>
        </div> 
        <i class="fas fa-bars"></i>
        <ul class="menubar">
            <a href="/client/views/doctor.html"><li>Doctors</li></a>
            <a href="/client/views/hospital.html"><li>Hospitals</li></a>
            <a href="/client/views/Dentistry.html"><li>Treatment</li></a>
            <li>Other Services</li>
            <a href="/client/views/about-us.html"><li>About</li></a>
        </ul>        
        <div class="top_button">
            <a href="/client/views/tvastra-plus.html"><button class="sky-blue">Tvastra Plus</button></a>    
            <a href="/client/views/query.html"><button class="dark-blue">Get a Quote</button></a>
        </div>
    </nav> 
    <section class="login">
        <h1>Sign Up</h1>
        <form action="submit">
            <input type="text" placeholder="Enter Name">
            <input type="text" placeholder="Enter Email">
            <input type="text" placeholder="Enter Password">
            <select name="Gender" id="gender" placeholder="Select your gender">
                <option default>Select your gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
            <input type="text" placeholder="dd/mm/yyyy">
            <input type="text" placeholder="Enter Phone Number">
            <div class="two">
                <input type="text" placeholder="Enter City">
                <input type="text" placeholder="Enter State">
            </div>
            
            <select name="" id="" placeholder="Select your Country">
                <option default>Select your Country</option>
                <option value="india">India</option>
                <option value="usa">USA</option>
            </select>
            <div class="button_container">
                <button class="dark-blue">SIGN UP</button>
                <i class="fas fa-arrow-right"></i>
            </div>            
        </form>
        <p>Already Registered? <span>Login</span></p>
    </section>
    <section class="copyright">
        <span>All Rights Reserved © Tvastra 2020</span>
    </section>
</body>
</html>