<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5fdca5a363.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/theme.css">
    <link rel="stylesheet" href="../assets/css/signup.css">
    <title>Sign Up</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="/"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="tvastra"></a>
        </div> 
        <i class="fas fa-bars"></i>
        <ul class="menubar">
            <a href="doctor"><li>Doctors</li></a>
            <a href="hospital"><li>Hospitals</li></a>
            <a href="Dentistry"><li>Treatment</li></a>
            <li>Other Services</li>
            <a href="about-us"><li>About</li></a>
        </ul>        
        <div class="top_button">
            <a href="tvastra-plus"><button class="sky-blue">Tvastra Plus</button></a>    
            <a href="query"><button class="dark-blue">Get a Quote</button></a>
        </div>
    </nav> 
    <section class="login">
        <h1>Sign Up</h1>
        <form action="/signup" method="POST">
            <input name="name" type="text" placeholder="Enter Name">
            <input name="email" type="text" placeholder="Enter Email">
            <input name="password" type="text" placeholder="Enter Password">
            <select name="gender" name="Gender" id="gender" placeholder="Select your gender">
                <option default>Select your gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
            <input name="dob" type="text" placeholder="dd/mm/yyyy">
            <input name="phone" type="text" placeholder="Enter Phone Number">
            <div class="two">
                <input name="city" type="text" placeholder="Enter City">
                <input name="state" type="text" placeholder="Enter State">
            </div>
            
            <select name="country" name="" id="" placeholder="Select your Country">
                <option default>Select your Country</option>
                <option value="india">India</option>
                <option value="usa">USA</option>
            </select>
            <div class="button_container">
                <button type="submit" class="dark-blue">SIGN UP</button>
                <i class="fas fa-arrow-right"></i>
            </div>            
        </form>
        <p>Already Registered? <a href="/"><span>Login</span></p></a>
    </section>
    <section class="copyright">
        <span>All Rights Reserved © Tvastra 2020</span>
    </section>
</body>
</html>