<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5fdca5a363.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/theme.css">
    <link rel="stylesheet" href="../assets/css/tvastra-plus.css">
    <title>Tvastra Plus</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="tvastra">
        </div> 
        <i class="fas fa-bars"></i>
        <ul class="menubar">
            <li>Doctors</li>
            <li>Hospitals</li>
            <li>Treatment</li>
            <li>Other Services</li>
            <li>About</li>
        </ul>        
        <div class="top_button">
            <button class="white">Logout</button>    
            <button class="dark-blue">Get a Quote</button>
        </div>
    </nav> 
    <section class="top">
        <header>
            <span>PLUS</span>
            <h1>Healthcare plans for you and your family.</h1>
            <li>Become a tvastra Plus Member and save 60% off on your yearly health expenses</li>
        </header>       
    </section>

    <section class="plans">
        <section class="card">
            <header>
                <h1>Select a Tvastra Plus healthcare plan</h1>
                <li>All Plus plans are for 4 adults and 2 children</li>
            </header>
            <div class="sub_card_container">
                <div class="sub-card">
                    <div class="heading">
                        <h4>Basic Plan</h4>
                    </div>
                    <div class="plan_benefit">
                        <li>Unlimited Consultation with any speciality</li>
                        <li>20% Off on prescription medicines</li>
                        <li>20% Off on tests and checkups</li>
                    </div>                
                    <div class="price_container">
                        <h2>₹2,999<span>/year</span></h2>
                        <li>View Plan Details</li>
                    </div>
                    <button class="sky-blue">Buy Plan</button>
                </div>
                <div class="advanced sub-card">
                    <div class="heading">
                        <h4>Advanced Plan</h4>
                    </div>
                    <div class="plan_benefit">
                        <li>Unlimited Consultation with any speciality</li>
                        <li>20% Off on prescription medicines</li>
                        <li>20% Off on tests and checkups</li>
                        <li>10 Free In-Clinic Consultations</li>
                    </div>
                    
                    <div class="price_container">
                        <h2>₹3,999<span>/year</span></h2>
                        <li>View Plan Details</li>
                    </div>
                    <button class="sky-blue">Buy Plan</button>
                </div>
                <div class="sub-card">
                    <div class="heading">
                        <h4>Comprehensive Plan</h4>
                    </div>
                    <div class="plan_benefit">
                        <li>Unlimited Consultation with any speciality</li>
                        <li>20% Off on prescription medicines</li>
                        <li>20% Off on tests and checkups</li>
                        <li>10 Free In-Clinic Consultations</li>
                        <li>2 Master Health Checkups</li>
                    </div>
                    
                    <div class="price_container">
                        <h2>₹5,999<span>/year</span></h2>
                        <li>View Plan Details</li>
                    </div>
                    <button class="sky-blue">Buy Plan</button>
                </div>
            </div>
            
            
        </section>
    </section>
    <section class="bar_sec">
        <header>
            <h1>Trusted by 2 Crore+ users every month</h1>
            <p>Tvastra is the leading healthcare technology company in India. we began in 2009 and today we help 2 crore customers every month</p>       
        </header>
        <div class="rating_bar_container">
            <div class="rating">
                <h1>4.5</h1>
                <div class="star_container">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <span>1000+ Reviews</span>
            </div>
            <ul class="bar_container">
                
                <li>
                    <div class="sno">5</div>
                    <div class="bar">
                        <div class="out">
                            <div class="in5"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="sno">4</div>
                    <div class="bar">
                        <div class="out">
                            <div class="in4"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="sno">3</div>
                    <div class="bar">
                        <div class="out">
                            <div class="in3"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="sno">2</div>
                    <div class="bar">
                        <div class="out">
                            <div class="in2"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="sno">1</div>
                    <div class="bar">
                        <div class="out">
                            <div class="in1"></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        
        <div class="grid_container">
            <div class="blocks">
                <i class="fas fa-users"></i>
                <h4>2 Crore+</h4>
                <span>Monthly Customers</span>
            </div>
            <div class="blocks">
                <i class="fas fa-user-md"></i>
                <h4>100,000+</h4>
                <span>Verified Doctors</span>
            </div>
            <div class="blocks">
                <i class="fas fa-pills"></i>
                <h4>10 Lakh+</h4>
                <span>Medicine Orders Delivered</span>
            </div>
            <div class="blocks">
                <i class="fas fa-calendar-check"></i>
                <h4>5 Crore+</h4>
                <span>Doctor Appointments</span>
            </div>
        </div>
    </section>

    <section class="benefits">
        <header>
            <h5>Benefits of Plus Membership</h5>
        </header>
        <div class="parts_container">
            <div class="part1">
                <h1>Zero fees for in-clinic consultation</h1>
                <div class="part1_container">
                    <li>
                        <i class="fas fa-check-circle"></i>
                        <p>Consult with 30000+ specialist doctors at top clinics & hospitals in the PLUS network at Rs.0 consultation fees</p>
                    </li>
                    <li>
                        <i class="fas fa-check-circle"></i>
                        <p>Upto 10 in-clinic consultations can be used by an family member over 12 month period.</p>
                    </li>
                </div>        
            </div>
            <div class="part2">
                <h1>Top Hospitals Onboarded</h1>
                <div class="part2_container">
                    <figure class="holder odd">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/sakra.svg" alt="Sakra"> 
                    </figure>
                    <figure class="holder even">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/psri.svg" alt="psri">
                    </figure>
                    <figure class="holder odd">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/artemis.svg" alt="artemis">
                    </figure>
                    <figure class="holder even">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/people-tree.svg" alt="people">
                    </figure>
                    <figure class="holder odd b">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/birla.svg" alt="ck birla">
                    </figure>
                    <figure class="holder b">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/pratiksha.svg" alt="Pratiksha">
                    </figure>
                </div>
                <span>+ More Hospitals</span>
    
    
            </div>
        </div>
       
    </section>
    <section class="consultation">
        <div class="block one">
            <div class="part1">
                <h2>Unlimited online consultations with top doctors</h2>
                <div class="part1_container">
                    <div>
                        <i class="fas fa-check-circle"></i>
                        <p>Get all your health queries answered from any specialist online, any time of the day</p>
                    </div>
                    <div>
                        <i class="fas fa-check-circle"></i>
                        <p>Connect under 2 minutes on text, call or video - available 24hrs, 7days of the week</p>
                    </div>
                    <div>
                        <i class="fas fa-check-circle"></i>
                        <p>All online consultations are confidential. Only patient and doctor can access the chats.</p>
                    </div>
                </div>
            </div>
            <figure>
                <img src="./../assets/images/cover.png" alt="health">
            </figure>
        </div>
        <div class="block two">
            <div class="part1">
                <h2>Flat 20% Off on prescription medicine,lab tests & checkups</h2>
                <div class="part1_container">
                    <div>
                        <i class="fas fa-check-circle"></i>
                        <p>Save money on medicines and lab tests for your entire family</p>
                    </div>
                    <div>
                        <i class="fas fa-check-circle"></i>
                        <p>Get flat 20% off on medicines that require prescriptions & flat 20% off on health checkups and lab tests</p>
                    </div>
                    <div>
                        <i class="fas fa-check-circle"></i>
                        <p>No questions asked. No minimum order values, no limits, available in 100+ cities across India</p>
                    </div>
                </div>
            </div>
            <figure>
                <img src="./../assets/images/order.jpg" alt="">
            </figure>
        </div>
        <div class="block three">
            <div class="part1">
                <h2>2 Free Health Checkups</h2>
                <div class="part1_container">
                    <div>
                        <i class="fas fa-check-circle"></i>
                        <p>Discuss your health results with doctors through online consultations. Recieve E-Report within 48 hours</p>
                    </div>
                    <div>
                        <i class="fas fa-check-circle"></i>
                        <p>Home Sample Pickup</p>
                    </div>
                    <div>
                        <i class="fas fa-check-circle"></i>
                        <p>Tabs are NABL, CAP Accredited</p>
                    </div>
                    <div>
                        <i class="fas fa-check-circle"></i>
                        <p>Checkups can be booked anytime, even weekends. Tax deductible under 80D</p>
                    </div>
                </div>
            </div>
            <figure>
                <img src="./../assets/images/checkup.jpg" alt="">
            </figure>
        </div>
    </section>
    <section class="tests">
        <h6>60 Tests Included</h6>
        <div class="blocks_container">
            <div class="blocks">
                <figure>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Vitamin+test.svg" alt="vitamin">
                </figure>
                <h4>Vitamin Profile</h4>
                <span>2 Tests</span>
            </div>
            <div class="blocks">
                <figure>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Iron+def.svg" alt="iron deficiency">
                </figure>
                <h4>Iron Deficiency Profile</h4>
                <span>3 Tests</span>
            </div>
            <div class="blocks">
                <figure>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Thyroid.svg" alt="thyroid">
                </figure>
                <h4>Thyroid Profile</h4>
                <span>3 Tests</span>
            </div>
            <div class="blocks">
                <figure>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Liver.svg" alt="liver">
                </figure>
                <h4>Liver Profile</h4>
                <span>11 Tests</span>
            </div>
        </div>
        <div class="carousel_container">
            <div class="carousel_button_holder">
                <div class="carousel_button"></div>
                <div class="carousel_button"></div>
            </div>

        </div>
    </section>

    <section class="love">
        <h1>Why we love Tvastra <span>PLUS</span></h1>
        <div class="card_container">
            <div class="card">
                <p>"Wonderful experience with Tvastra Plus it helped me in saving a lot of amount as it provides free consultations with best doctors."</p>
                <div class="name_tag">
                    <img src="https://post.healthline.com/wp-content/uploads/2019/01/Male_Doctor_732x549-thumbnail.jpg" alt="doctor">
                    <div class="name_details">
                        <h4>Rishab Tiwari</h4>
                        <span>Advanced Plan User</span>
                    </div>
                </div>
            </div>
            <div class="card">
                <p>"Fastastic experience with health test using Tvastra Plus. Didn't pay anything for test. I came to know my deficiency in vitamin where family doctor feature helped me with medicine."</p>
                <div class="name_tag">
                    <img src="https://post.healthline.com/wp-content/uploads/2019/01/Male_Doctor_732x549-thumbnail.jpg" alt="doctor">
                    <div class="name_details">
                        <h4>Mini Agarwal</h4>
                        <span>Comprehensive Plan User</span>
                    </div>
                </div>
            </div>
            <div class="card">
                <p>"24x7 access to doctors in just 60 seconds with 2 kids, one of them is bound to fall sick. Comes in super handy."</p>
                <div class="name_tag">
                    <img src="https://post.healthline.com/wp-content/uploads/2019/01/Male_Doctor_732x549-thumbnail.jpg" alt="doctor">
                    <div class="name_details">
                        <h4>Prachi Gupta</h4>
                        <span>Comprehensive Plan User</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="faq">
        <h1>Frequently Asked Questions</h1>
        <div class="faq_container">
            
                <li class="heading">
                    <div class="part1">
                        
                        <h4>How does free in-clinic consultation with doctor's and hospitals work?</h4>
                    </div>
                    <div class="part2">
                        <i class="fas fa-chevron-up"></i>
                    </div>
                </li>
                <div class="heading_data">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a augue vel risus molestie consequat vitae sed felis. Phasellus auctor pretium maximus. Pellentesque eget rhoncus ipsum, a tempor enim.</p> 
                </div>
                <li class="heading">
                    <div class="part1">
                        
                        <h4>Are there any type of doctors not included in Tvastra Plus in-clinic consultation network?</h4>
                    </div>
                    <div class="part2">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </li>
                <li class="heading">
                    <div class="part1">
                        
                        <h4>How does the unlimited onine consultation work?</h4>
                    </div>
                    <div class="part2">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </li>
                <li class="heading">
                    <div class="part1">
                        
                        <h4>How does flat 20% off on medicines work?</h4>
                    </div>
                    <div class="part2">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </li>
                <li class="heading">
                    <div class="part1">
                        
                        <h4>How does 20% off on lab tests work?</h4>
                    </div>
                    <div class="part2">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </li>
                
            
        </div>
    </section>
    <footer class="footer">
        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" alt="logo">
        
            <ul class="tags">
                <li>Doctors</li>
                <li>Hospitals</li>
                <li>Treatment</li>
                <li>Other Services</li>
                <li>FAQs</li>
            </ul>
        
        <div class="logos">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-pinterest-p"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-google-plus"></i>
            <i class="fab fa-instagram"></i>
        </div>
        <div class="copyright">
            <p>All Rights Reserved. © tvastra 2021</p>
        </div>
    </footer>
    
</body>
</html>