$background-blue-color:rgb(147, 190, 222);
$white-color: rgb(255, 255, 255);
$dark-blue-color:rgb(34, 40, 68);
$light-blue-background-color: rgb(147, 190, 222);
$grey:rgb(161, 159, 159);
$off-white:rgb(244, 244, 248);
$sky-blue:rgb(22, 125, 221);
$light-grey:rgb(219, 216, 216);
$blue-grey:rgb(240, 240, 245);
$light-blue: rgb(209, 229, 245);
$white:rgb(255,255,255);
$dark-grey:rgb(102, 101, 101);
$lighter-grey:#eee;
body{
    background-color: $light-blue-background-color;
    display: grid;
    row-gap: 3rem;
    justify-items: center;
    align-items: center;
}
.fas {
    color: #525659;
    height: auto;
    margin-top:0.5rem;
}
.navbar {
    height: auto;
    width: 100%;
    position:relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:1rem 1rem;
    background-color: $white;
}
.navbar{
    .logo {
        img {
            height:1.5rem;
            width:6rem;
            object-fit: cover;
        }
    }   
    .menubar, .top_button{
        display: none;
    }
}
.profile_section{
    
    position:fixed;
    z-index: 1;
    top:0;
    background-color: white;
    height:100vh;
    width:60vw;
    display: grid;
    grid-template-rows: 0.3fr 5fr;
    row-gap: 1.5rem;
    align-items: center;
    display: none;
    figure{
        width:7.2rem;
        height:3.5rem;
        padding-left:0.8rem;
        align-items: center;
        img{
            object-fit: contain;
            margin:0;
            //height:1.5rem;
        }
    }
    .list{
        display:grid;
        //row-gap:1rem;
        align-self: start;
        li{
            font-family: Nexa-Bold;
            font-size: 1.25rem;
            line-height: 4rem;
            border-bottom: 1px solid black;
            padding-left:1rem;
        }
    }
}
.profile_section_2{
    display: none;
}
section{
    box-shadow: 1px 1px 5px 1px $dark-grey;
    background-color: $white;
    padding:0;
    width:90%;
    header{
        padding:1.5rem 0rem;
        h1{
            color:$sky-blue;
            margin:0rem;
        }
        border-bottom:1px solid $light-grey;
    }
    .form_container{
        padding:1rem 1rem;
    }
    
    h5{
        text-align:left;
        font-size:1.15rem;
    }
    input{
        display: inline;
        border:1px solid $light-grey;
    }
    textarea{
        margin-bottom:1rem;
    }
    .date{
        font-size:0.9rem;
        font-weight: 600;
        margin-bottom:1rem;
        color:$dark-grey;
    }
    .radio_input{
        width:min-content;
        margin:0;
        
    }
    h5{
        margin-bottom:0.7rem;
    }
    .radio_container{
        display: grid;
        row-gap: 1rem;
        margin-bottom:1rem;
        .container_bits{
            display: grid;
            grid-template-columns: 1fr 9fr;
            label{
                font-family: Nexa-Light;
                text-align: left;
                line-height: normal;
                font-weight: normal;
            }
        }
    }
    .health_container{
        text-align: left;
        margin-bottom:1rem;
        .upload{
            border-radius:0;
            padding:0.25rem 1rem;
            border:0.5px solid $dark-grey;
            margin-right:0.2rem;
        }
    }
    .button_container{
        position:relative;
        .dark-blue{
            width:100%;
            border-radius:0;
            font-size:1rem;
            letter-spacing:0.1rem;
            
        }
        .fas{
            margin:0;
            color:$white;
            position:absolute;
            top:25%;
            right:7.5%;
        }
    }
   
       
}

footer{
    padding:2rem 2rem;
    padding-top:0;
    span{
        color:$dark-blue-color;
        font-family:Nexa-Bold;
        font-size:1rem;
    }
}

@media only screen and (min-width:728px){
    body{
        row-gap: 6rem;
    }
    .profile_section{
        figure{
            padding-left: 1.8rem;
            width:8.2rem;
        }
        .list{
            li{
                padding-left:1.8rem;
            }
        }
    }
    .container{
        max-width: 70%;
        .form_container{
            padding:1rem 1.5rem;
            .data_container{
                .radio_container{
                    .container_bits{
                        grid-template-columns: 0.5fr 9.5fr;
                    }
                }
            }
        }
    }
    .navbar{
        padding:1rem 2rem;
    }

}
@media only screen and (min-width:1024px){
    body{
        row-gap:7rem;
    }
    .navbar{
        padding:1rem 6rem;
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        .logo{
            flex-basis: 20%;
            flex-shrink: 1;
            img{
                width:10rem;
                height:auto;
            }
        }
        .menubar, .top_button{
            display: inline;
            li:active,li:hover{
                color:$sky-blue;
            }
        }
        .top_button{
            
            .sky-blue:hover, .sky-blue:active,.dark-blue:hover, .dark-blue:active{
                border:1px solid $dark-blue-color;
                background-color: whitesmoke;
                color:$dark-blue-color;
                transition: background-color 0.1s ease-out;   
                
            }

        }
        i {
            display: none;
        }
        
        .menubar{
            li{
                font-size:0.9rem;
                font-weight: 600;
            }
            flex-basis: 50%;
            max-width: 30%;
            display: flex;
            flex-direction: row;
            justify-content:space-between;
            justify-self: center;
            align-self: center;
            flex-shrink: 2;
            margin-bottom: 0;               
        }
        .top_button{
            flex-basis: 24.5rem;
            flex-shrink: 0;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 0.75rem;
            align-items: center;
            .sky-blue, .dark-blue{
                border:1px solid $dark-blue-color;
                border-radius: 3px;
                font-weight: 600;
                font-size: 0.75rem;
            }
            .sky-blue{
                border:1px solid $sky-blue;
            }
            
            .dark-blue{
                width:127px;
            }
            .name_container{
                display: flex;
                flex-direction: row;
                align-items: center;
                cursor: pointer;
                h6{
                    font-family:Nexa-Light;
                    ;
                    line-height: normal;
                    font-size:1.125rem;
                    margin:0;
                }
                .fa-angle-down{
                    color: $dark-blue-color;
                    display: inline;
                    margin:0;
                    margin-left: 0.5rem;
                }
                h6:hover{
                    color:$sky-blue;
                }
            }
            
        } 
    }
    .profile_section_2{
        position:absolute;
        right:4rem;
        top:5.5rem;
        width:16rem;
        height:20rem;
        background-color: white;
        z-index: 1;
        display: grid;
        grid-template-rows: 1.5fr 5fr;
        //row-gap: 1rem;
        align-items: center;
        display:none;
        .part_1{
            display: grid;
            grid-template-columns: 1fr 5fr;
            align-items: center;
            
            border-bottom: 1px solid $light-grey;
            padding:1rem;
            height:5rem;
            h6{
                margin:0;
                justify-self: center;

            }
            img{
                height:3rem;
            }
        }
        .list{
            display: grid;
            //height: 13rem;
            align-items: center;
            margin-bottom:0;
            li{
                padding-left: 1rem;
                line-height: 3rem;
                font-family: Nexa-Bold;
                font-size:1.25rem;
            }
            li:hover{
                background-color: $light-grey;
                color:$sky-blue;
                border-left: 0.25rem solid $sky-blue;
                padding-left: 0.75rem;
            }
        }
    }
        .container{
            max-width: 60%;
            
            header{
                padding:0.25rem 0rem;
                h1{
                    text-align: center;
                    font-size:1.75rem;
                }
            }
            .form_container{
                padding:1rem 1.5rem;
                .data_container{
                    .date:active{
                        border:1px solid $dark-blue-color;
                    }
                    .radio_container{
                        .container_bits{
                            grid-template-columns: 0.5fr 9.5fr;
                        }
                    }
                    .button_container{
                        .dark-blue{
                            font-weight: 600;
                            letter-spacing: 0.35rem;
                            padding:1rem 0rem;
                        }
                    }
                }
            }
        }
}