$background-blue-color:rgb(147, 190, 222);
$white-color: rgb(255, 255, 255);
$dark-blue-color:rgb(34, 40, 68);
$light-blue-background-color: rgb(147, 190, 222);
$grey:rgb(161, 159, 159);
$off-white:rgb(244, 244, 248);
$sky-blue:rgb(22, 125, 221);
$light-grey:rgb(219, 216, 216);
$blue-grey:rgb(240, 240, 245);
$light-blue: rgb(209, 229, 245);
$white:rgb(255,255,255);
$dark-grey:rgb(102, 101, 101);
$lighter-grey:#eee;

.fas {
    color: #525659;
    height: auto;
    margin-top:0.5rem;
}
.navbar {
    height: auto;
    width: 100%;
    position:relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:1rem 1rem;
}
.navbar{
    .logo {
        img {
            height:1.5rem;
            width:6rem;
            object-fit: cover;
        }
    }   
    .menubar, .top_button{
        display: none;
    }
}
.profile_section{
    
    position:fixed;
    z-index: 1;
    top:0;
    background-color: white;
    height:100vh;
    width:60vw;
    display: grid;
    grid-template-rows: 0.3fr 5fr;
    row-gap: 1.5rem;
    align-items: center;
    display: none;
    figure{
        width:7.2rem;
        height:3.5rem;
        padding-left:0.8rem;
        align-items: center;
        img{
            object-fit: contain;
            margin:0;
            //height:1.5rem;
        }
    }
    .list{
        display:grid;
        //row-gap:1rem;
        align-self: start;
        li{
            font-family: Nexa-Bold;
            font-size: 1.25rem;
            line-height: 4rem;
            border-bottom: 1px solid black;
            padding-left:1rem;
        }
    }
}
.profile_section_2{
    display: none;
}

.top{
    background:linear-gradient(to right, $sky-blue, transparent 95%), url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/dentist_hero_image.jpg);
    background-size: cover;
    background-position:35% 20%;
    background-repeat: no-repeat;
    height:17.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    h2, li{
        color: $white;
    }
    li{
        font-family: Nexa-Light;
        list-style: none;
        letter-spacing: 0.05rem;
    }
}
.grid_container{
    
    .element_1{
        
        .vaccination{
            .data_container{
                padding-top: 1.5rem;
                h5{
                    font-size: 1.2rem;
                    text-align: left;
                    margin-bottom:1.15rem;
                    
                }
                p{
                    text-align:left;
                    letter-spacing: 0.05rem;
                }
                ul{
                    padding:0rem 1rem;
                    li{
                        list-style: disc;
                        text-align: left;
                        line-height: 2rem;
                        letter-spacing: 0.04rem;
                        font-size:1rem;
                    }
                    li::marker{
                        font-size: 1.15rem;
                        color:$sky-blue;
                    }
                }
                
            }
        
            .icons{
                margin:3rem 0rem;
                div{
                    display:grid;
                    justify-items: center;
                    row-gap:1rem;
                    margin-bottom:2.5rem;
                    .icon_container{
                        
                        .fas{
                            margin:0rem;
                            color:$dark-blue-color;
                            font-size: 1.4rem;
                        }
                    margin-bottom:0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width:4rem;
                    height:4rem;
                    background-color: $light-blue;
                    border-radius: 75px;
                }
                h5{
                    margin-bottom:0;
                    font-size:1.225rem;
                }
                li{
                    list-style:none;
                    font-family:Nexa-Light;
                    line-height: 1.2rem;
                    letter-spacing: 0.04rem;
                    font-size:1rem;
                    margin-bottom: 0;
                }
                }
                
            }
        
            
        }
        

    }
    .element_2{
        
        .cards{
            display:grid;
            row-gap:1.5rem;
            .service_details, .Schedule{
                border: 2px solid #eee;
                border-radius: 10px;
                padding:1.5rem 2rem;
                position:relative;
                h5{
                    text-align: left;
                    font-size:1.3rem;
                    margin-bottom:1.4rem;
                }
                h5::before{
                    content:"";
                    position:absolute;
                    width:1.8rem;
                    height:0.15rem;
                    background-color: $sky-blue;
                    left:0;
                    top:35px;
                }
    
                li{
                    list-style: none;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    line-height: 2rem;
                    border-bottom:1px solid #eee;
                    margin-bottom:1rem;
                    span{
                        font-size:0.875rem;
                    }
                    .fir{
                        color:$dark-blue-color;
                    }
                }
            }
        }

    }
}

.more_services{
    background-color: $light-blue-background-color;
    padding:2.5rem 1.5rem;
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom:1.5rem;
        h1{
            color:$white;
            font-size:2rem;
        }
        .button_container{
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            width:4.5rem;
            .carousel_button{
                .fas{
                    margin:0;
                    font-size:0.8rem;
                    font-weight: 900;
                }
                display:flex;
                align-items:center;
                justify-content: center;
                padding:1rem;
                background-color: $white;
                width:2rem;
                height:2rem;
                border-radius:50%;
            }
        }
    }
    .card_container{
        display: grid;
        row-gap:1rem;
        
        figure{
            border-radius: 1rem;
            overflow: hidden;
            box-shadow:0.5px 0.5px 0.5rem 0.5px $dark-grey ;
            div{
                max-height:15rem;
                img{
                    height: 15rem;
                }
            }
            figcaption{
                background-color:$white;
                padding:2.5rem 2rem;
                position:relative;
                h3{
                    margin-bottom:0;
                    text-align:left;
                    font-size:1.4rem;
                }
                h3::before{
                    content:"";
                    position:absolute;
                    width:1.6rem;
                    height:0.15rem;
                    background-color: $sky-blue;
                    left:0;
                    top:52.5px;
                }
            }
        }
    }
    

}

.footer{
    background-color: $dark-blue-color;
    padding:1rem;
    text-align: center;
    .logos{
        text-align: center;
        .fab{
            margin-right:1rem;
        }
        margin-bottom:1rem;
    }
    img{
        width:11rem;
        height:3rem;
        object-fit: contain;
        margin-top:1rem;
        margin-bottom:1rem;
    }
    li,i,p{
        color:#cccccc;
    }
    li{
        font-size:16px;
        margin-bottom: 1.15rem;
    }
    .copyright{
        p{
            font-weight: 500;
            letter-spacing: 0;
            margin-bottom: 0.75rem;
        }
    }
}

@media only screen and (min-width:728px){
    
    .navbar{
        padding:1rem 2rem;
    }
    .profile_section{
        figure{
            padding-left: 1.8rem;
            width:8.2rem;
        }
        .list{
            li{
                padding-left:1.8rem;
            }
        }
    }
    .grid_container{
        .element_1{
            .vaccination{
                h1{
                    text-align:left;
                }
                .container_1{
                    display: grid;
                    grid-template-columns: 3.5fr 6fr;
                    column-gap: 2rem;
                    .data_container{
                        h5{
                            font-size:1.4rem;
                        }
                        p,li{
                            font-size:1.1rem;
                        }
                    }
                }
        
                .icons{
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    column-gap: 1rem;
        
                    div{
                        li{
                            letter-spacing: 0.05rem;
                            line-height: 1.5rem;
                        }
                    }
                }
        
               
            }

        }

        .element_2{
            .cards{
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 1.5rem;
                .service_details{
                    height:min-content;
                }
                .Schedule{
                    height:min-content
                }
                
            }
        }
    }
    

    .more_services{
        header{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            h1{
                 margin-bottom:0;
            }
            
        }
        .card_container{
            display:grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 1rem;
            figure{
                
                figcaption{
                    padding-right:0;
                    h3{
                        font-size:1.2rem;
                    }
                }
            }
        }
    }
    .footer{
        padding:1rem 2rem;
        display: grid;
        grid-template-columns: (3fr 1.5fr);
        grid-template-rows: repeat(2, 0.5fr);
        
        background-color: $white;
        border-top:1px solid $light-grey; 
        border-bottom: 4px solid $sky-blue;
        li,i,p{
            color: $dark-blue-color;
            margin-bottom:0;
        }
        li{
            font-size: 0.9rem;
            letter-spacing: 0;
        }
        p{
            
            color: black;
            font-weight: 700;
            font-size: 0.9rem;
        }
        img{
            grid-row: 1/2;
            grid-column: 2/2;
            justify-self: end;
            align-self: center;
        }

        .tags{
            grid-column: 1/2;
            grid-row: 1/2;
            align-self: center;
            text-align: center;            
            max-width: 450px;            
            margin:0;
            display:flex;
            flex-direction: row;
            justify-content: space-between;          
        }

        .logos{
            grid-column: 2/2;
            grid-row: 2/2;
            justify-self: end;
            align-self: center;
            margin-bottom: 0;
            //margin-left: 1.5rem;
            .fab{
                margin-right:1.30rem;
            }
            .fa-instagram{
                margin-right:0;
            }

        }

        .copyright{
            p{
                margin-bottom: 0;
            }
            justify-self: start;
            align-self: center;
        }
    }
}

@media only screen and (min-width:1024px){
    .navbar{
        padding:1rem 6rem;
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        .logo{
            flex-basis: 20%;
            flex-shrink: 1;
            img{
                width:10rem;
                height:auto;
            }
        }
        .menubar, .top_button{
            display: inline;
            li:active,li:hover{
                color:$sky-blue;
            }
        }
        .top_button{
            
            .sky-blue:hover, .sky-blue:active,.dark-blue:hover, .dark-blue:active{
                border:1px solid $dark-blue-color;
                background-color: whitesmoke;
                color:$dark-blue-color;
                transition: background-color 0.1s ease-out;   
                
            }

        }
        i {
            display: none;
        }
        
        .menubar{
            li{
                font-size:0.9rem;
                font-weight: 600;
            }
            flex-basis: 50%;
            max-width: 30%;
            display: flex;
            flex-direction: row;
            justify-content:space-between;
            justify-self: center;
            align-self: center;
            flex-shrink: 2;
            margin-bottom: 0;               
        }
        .top_button{
            flex-basis: 24.5rem;
            flex-shrink: 0;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 0.75rem;
            align-items: center;
            .sky-blue, .dark-blue{
                border:1px solid $dark-blue-color;
                border-radius: 3px;
                font-weight: 600;
                font-size: 0.75rem;
            }
            .sky-blue{
                border:1px solid $sky-blue;
            }
            
            .dark-blue{
                width:127px;
            }
            .name_container{
                display: flex;
                flex-direction: row;
                align-items: center;
                cursor: pointer;
                h6{
                    font-family:Nexa-Light;
                    ;
                    line-height: normal;
                    font-size:1.125rem;
                    margin:0;
                }
                .fa-angle-down{
                    color: $dark-blue-color;
                    display: inline;
                    margin:0;
                    margin-left: 0.5rem;
                }
                h6:hover{
                    color:$sky-blue;
                }
            }
            
        } 
    }
    .profile_section_2{
        position:absolute;
        right:4rem;
        top:5.5rem;
        width:16rem;
        height:20rem;
        background-color: white;
        z-index: 1;
        display: grid;
        grid-template-rows: 1.5fr 5fr;
        //row-gap: 1rem;
        align-items: center;
        display:none;
        .part_1{
            display: grid;
            grid-template-columns: 1fr 5fr;
            align-items: center;
            
            border-bottom: 1px solid $light-grey;
            padding:1rem;
            height:5rem;
            h6{
                margin:0;
                justify-self: center;

            }
            img{
                height:3rem;
            }
        }
        .list{
            display: grid;
            //height: 13rem;
            align-items: center;
            margin-bottom:0;
            li{
                padding-left: 1rem;
                line-height: 3rem;
                font-family: Nexa-Bold;
                font-size:1.25rem;
            }
            li:hover{
                background-color: $light-grey;
                color:$sky-blue;
                border-left: 0.25rem solid $sky-blue;
                padding-left: 0.75rem;
            }
        }
    }
    .top{
        justify-content: flex-start;
    }
    .grid_container{
        display: grid;
        grid-template-columns: 7fr 3fr;
        column-gap:2rem;
        padding:2rem 6rem;
        .element_1{
            .vaccination{
                .container_1{
                    .data_container{
                        
                        p{
                            font-size:1rem;
                            font-family: Nexa-Light;
                            font-weight: normal;
                        }
                    }
                }
                .icons{
                    h5{
                        text-align: center;
                    }
                }
            }
        }
        .element_2{
            .cards{
                display: grid;
                grid-template-columns: 100%;
                .service_details, .Schedule{
                    h5{
                        margin-bottom:0.8rem;
                        font-size:1.1rem;
                    }
                    li{
                        line-height: 1.1rem;
                        span{
                            font-size:0.9rem;
                        }
                    }
                }
            }
        }
    }

    .more_services{
        padding:2rem 6rem;
        .card_container{
            figure{
                figcaption{
                    h3{
                        line-height: normal;
                    }
                    h3::before{
                        top:39px;
                    }
                    padding:2rem 2rem;
                    
                }
            }
        }
    }

    .footer{
        padding:1rem 6rem;
        border-bottom: 8px solid $sky-blue;
        li{
            font-size:0.9rem;
            font-weight: 600;
        }

        .tags{
            li:hover, li:active{
                color:$sky-blue;
                transition: color 0.1s ease-in;
                 
            }
    
        }
        .logos{
            .fab:hover, .fab:active{
                color:$sky-blue;
                
            }

        }
        .copyright{
            p{
                font-weight: 600;
                letter-spacing: 0.025rem;
            }
        }
        
    }
}
