$background-blue-color:rgb(147, 190, 222);
$white-color: rgb(255, 255, 255);
$dark-blue-color:rgb(34, 40, 68);
$light-blue-background-color: rgb(147, 190, 222);
$grey:rgb(161, 159, 159);
$off-white:rgb(244, 244, 248);
$sky-blue:rgb(22, 125, 221);
$light-grey:rgb(219, 216, 216);
$blue-grey:rgb(240, 240, 245);
$light-blue: rgb(209, 229, 245);
$white:rgb(255,255,255);
$dark-grey:rgb(102, 101, 101);
$lighter-grey:#eee;

.fas {
    color: #525659;
    height: auto;
    margin-top:0.5rem;
}
.navbar {
    height: auto;
    width: 100%;
    position:relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:1rem 1rem;
}
.navbar{
    .logo {
        img {
            height:1.5rem;
            width:6rem;
            object-fit: cover;
        }
    }   
    .menubar, .top_button{
        display: none;
    }
    .picburgercontainer{
        .mobimg{
            height: 2rem;
            width: 2rem;
            border-radius: 50%;
            margin-right: 1rem;
            align-self: center;
            
        }
        i{
            align-self: center;
            margin-bottom:0.2rem;
        }
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
}
.profile_section{
    
    position:fixed;
    z-index: 1;
    top:0;
    background-color: white;
    height:100vh;
    width:60vw;
    display: grid;
    grid-template-rows: 0.3fr 5fr;
    row-gap: 1.5rem;
    align-items: center;
    display: none;
    figure{
        width:7.2rem;
        height:3.5rem;
        padding-left:0.8rem;
        align-items: center;
        img{
            object-fit: contain;
            margin:0;
            //height:1.5rem;
        }
    }
    .list{
        display:grid;
        //row-gap:1rem;
        align-self: start;
        li{
            font-family: Nexa-Bold;
            font-size: 1.25rem;
            line-height: 4rem;
            border-bottom: 1px solid black;
            padding-left:1rem;
        }
    }
}
.profile_section_2{
    display: none;
}
.top{
    background-image:url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/contactUs.png);
    background-size:fill;
    background-position:50% 0% ;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    .heading_container{
        
        h1,span{
            color:$white;
        }
        h1{
            font-size:2rem;
            margin-bottom:1.5rem;
        }
        span{
            font-family: Nexa-Light;
        }
    }
    height:17.5rem;
    padding:0;
}
.data{
    padding:2.5rem 2rem;
    .data_container{
        padding:1.5rem 1rem;
        border:1px solid $light-grey;
        display: grid;
        row-gap: 3rem;
        .part1{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img{
                max-height: 25rem;
                max-width:auto;
                margin-bottom:1rem;
            }
            .dark-blue{
                font-family:Nexa-Bold;
                border-radius: 0;
                padding:0.5rem 1rem;
                font-size:1.1rem;
                width: 100%;
            }
            
        }
        .part2{
            header{
                position:relative;
                h2{
                    color:$sky-blue;
                    text-align: center;
                    font-size:1.9rem;
                }
                h2::before{
                    content:"";
                    background-color: $sky-blue;
                    width:2rem;
                    height:0.15rem;
                    position: absolute;
                    left:-17px;
                    top:20px;
                }
            }
            .heading{
                list-style: none;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                height: 4rem;
                border-bottom: 1px dashed $dark-grey;
                .part1{
                    display:grid;
                    grid-template-columns: 1fr 5fr;
                    align-content: center;
                    justify-content: center;
                    i{
                        margin:0;
                        text-align: left;
                        font-size:1.2rem;
                        margin-bottom:0.25rem;
                        margin-right: 1rem;
                        color: $sky-blue;
                        
                    }
                    h4{
                        margin-bottom: 0;
                        text-align: left;
                        line-height: normal;
                        color:$sky-blue;
                        font-size:1.2rem;
                    }
                }
                .part2{
                    background-color: $light-blue;
                    width:1.75rem;
                    height:1.75rem;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    
                    i{
                        color:$sky-blue;
                        font-size:0.9rem;
                        margin:0;
                        
                    }
                }
            }
            .heading_data{
                background-color: $light-blue;
                padding:0 0.75rem;
                //display: none;
                max-height: 0;
                overflow:hidden;
                transition: max-height 0.2s ease-in;
                
                p{
                    font-size: 1.1rem;
                    letter-spacing:0.05rem;
                    text-align: left;
                    margin-bottom:0;
                    margin:0.75rem;
                }
            }
        }
    }
}

.help{
    text-align: center;
    background-color: $light-blue-background-color;
    h2{
        font-size:1.6rem;
        color:$white;
    }
    .sky-blue{
        font-size:1rem;
        padding:0.65rem 0.9rem;
        border-radius: 5px;
    }
}

.footer{
    background-color: $dark-blue-color;
    padding:1rem;
    text-align: center;
    .logos{
        text-align: center;
        .fab{
            margin-right:1rem;
        }
        margin-bottom:1rem;
    }
    img{
        width:11rem;
        height:3rem;
        object-fit: contain;
        margin-top:1rem;
        margin-bottom:1rem;
    }
    li,i,p{
        color:#cccccc;
    }
    li{
        font-size:16px;
        margin-bottom: 1.15rem;
    }
    .copyright{
        p{
            font-weight: 500;
            letter-spacing: 0;
            margin-bottom: 0.75rem;
        }
    }
}

@media only screen and (min-width:728px){
    
    .navbar{
        padding:1rem 2rem;
    }
    .profile_section{
        figure{
            padding-left: 1.8rem;
            width:8.2rem;
        }
        .list{
            li{
                padding-left:1.8rem;
            }
        }
    }
    .data{
        .data_container{
            padding:1.5rem;
            display:grid;
            grid-template-columns: 6fr 3fr;
            column-gap: 2rem;
            align-items: flex-start;
            .part1{
                grid-column: 2;
                grid-row: 1;
                img{
                    max-height: 22rem;
                }
            }
            .part2{
                header{
                    display: grid;
                    row-gap: 1rem;
                    h2{
                        text-align:left;
                    }
                    h2::before{
                        left:-1.5rem;
                        width:1.25rem;
                        top:10px;
                    }
                    p{
                        text-align: left;
                    }
                }
            }
        }
    }
    .footer{
        padding:1rem 2rem;
        display: grid;
        grid-template-columns: (3fr 1.5fr);
        grid-template-rows: repeat(2, 0.5fr);
        
        background-color: $white;
        border-top:1px solid $light-grey; 
        border-bottom: 4px solid $sky-blue;
        li,i,p{
            color: $dark-blue-color;
            margin-bottom:0;
        }
        li{
            font-size: 0.9rem;
            letter-spacing: 0;
        }
        p{
            
            color: black;
            font-weight: 700;
            font-size: 0.9rem;
        }
        img{
            grid-row: 1/2;
            grid-column: 2/2;
            justify-self: end;
            align-self: center;
        }

        .tags{
            grid-column: 1/2;
            grid-row: 1/2;
            align-self: center;
            text-align: center;            
            max-width: 450px;            
            margin:0;
            display:flex;
            flex-direction: row;
            justify-content: space-between;          
        }

        .logos{
            grid-column: 2/2;
            grid-row: 2/2;
            justify-self: end;
            align-self: center;
            margin-bottom: 0;
            //margin-left: 1.5rem;
            .fab{
                margin-right:1.30rem;
            }
            .fa-instagram{
                margin-right:0;
            }

        }

        .copyright{
            p{
                margin-bottom: 0;
            }
            justify-self: start;
            align-self: center;
        }
    }
}

@media only screen and (min-width:1024px){
    .navbar{
        padding:1rem 6rem;
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        .logo{
            flex-basis: 20%;
            flex-shrink: 1;
            img{
                width:10rem;
                height:auto;
            }
            
        }
        .mobimg{
            display: none;
        }
        .menubar, .top_button{
            display: inline;
            li:active,li:hover{
                color:$sky-blue;
            }
        }
        .top_button{
            
            .sky-blue:hover, .sky-blue:active,.dark-blue:hover, .dark-blue:active{
                border:1px solid $dark-blue-color;
                background-color: whitesmoke;
                color:$dark-blue-color;
                transition: background-color 0.1s ease-out;   
                
            }

        }
        i {
            display: none;
        }
        
        .menubar{
            li{
                font-size:0.9rem;
                font-weight: 600;
            }
            flex-basis: 50%;
            max-width: 30%;
            display: flex;
            flex-direction: row;
            justify-content:space-between;
            justify-self: center;
            align-self: center;
            flex-shrink: 2;
            margin-bottom: 0;               
        }
        .top_button{
            flex-basis: 24.5rem;
            flex-shrink: 0;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 0.75rem;
            align-items: center;
            .sky-blue, .dark-blue{
                border:1px solid $dark-blue-color;
                border-radius: 3px;
                font-weight: 600;
                font-size: 0.75rem;
            }
            .sky-blue{
                border:1px solid $sky-blue;
            }
            
            .dark-blue{
                width:127px;
            }
            .name_container{
                display: flex;
                flex-direction: row;
                align-items: center;
                cursor: pointer;
                h6{
                    font-family:Nexa-Light;
                    ;
                    line-height: normal;
                    font-size:1.125rem;
                    margin:0;
                }
                .fa-angle-down{
                    color: $dark-blue-color;
                    display: inline;
                    margin:0;
                    margin-left: 0.5rem;
                }
                h6:hover{
                    color:$sky-blue;
                }
            }
            
        } 
    }
    .profile_section_2{
        position:absolute;
        right:4rem;
        top:5.5rem;
        width:16rem;
        height:20rem;
        background-color: white;
        z-index: 1;
        display: grid;
        grid-template-rows: 1.5fr 5fr;
        //row-gap: 1rem;
        align-items: center;
        display:none;
        .part_1{
            display: grid;
            grid-template-columns: 1fr 5fr;
            align-items: center;
            
            border-bottom: 1px solid $light-grey;
            padding:1rem;
            height:5rem;
            h6{
                margin:0;
                justify-self: center;

            }
            img{
                height:3rem;
            }
        }
        .list{
            display: grid;
            //height: 13rem;
            align-items: center;
            margin-bottom:0;
            li{
                padding-left: 1rem;
                line-height: 3rem;
                font-family: Nexa-Bold;
                font-size:1.25rem;
            }
            li:hover{
                background-color: $light-grey;
                color:$sky-blue;
                border-left: 0.25rem solid $sky-blue;
                padding-left: 0.75rem;
            }
        }
    }
    .top{
        background-position: 0% 0%;
        background-size: cover;
        background-repeat: no-repeat;
        max-height: 15.5rem;
        justify-content: center;
        padding:5rem 6rem;
        align-items: start;
        .heading_container{
           max-width: auto;
           text-align: left;
           h1{
               text-align: left;
               margin-bottom:0.5rem;
               font-size:2.5rem;
           }
        }
    }
    .data{
        padding:3rem 7rem;
        .data_container{
            display: grid;
            grid-template-columns: 6fr 2fr;
            padding:2rem 3rem;
            .part2{
                header{
                    h2::before{
                        top:1.7rem;
                        left:-3rem;
                        width:2rem;
                    }
                }
                .heading_data{
                    p{
                        font-size: 1rem;
                        letter-spacing:0.05rem;
                    }
                    
                }
            }
        }
    }
    .help{
        padding:2rem 6rem;
        .help_container{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            justify-content: center;
            align-items: center;
            .left{
                h2{
                    margin-bottom: 0;
                    font-size:2rem;
                    text-align: left;
                }
                p{
                    text-align:left;
                }
            }
            .right{
                text-align: right;
                .sky-blue{
                    font-size:1.4rem;
                    //letter-spacing: 0.05rem;
                    font-family: Nexa-Bold;
                    font-weight: 600;
                    padding:1rem 1.5rem;
                }
            }
        }
    }
    .footer{
        padding:1rem 6rem;
        border-bottom: 8px solid $sky-blue;
        li{
            font-size:0.9rem;
            font-weight: 600;
        }

        .tags{
            li:hover, li:active{
                color:$sky-blue;
                transition: color 0.1s ease-in;
                 
            }
    
        }
        .logos{
            .fab:hover, .fab:active{
                color:$sky-blue;
                
            }

        }
        .copyright{
            p{
                font-weight: 600;
                letter-spacing: 0.025rem;
            }
        }
        
    }
}